<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.zy.base.businesses.mapper.AdvertLogMapper">
    <sql id="findAdvertLogNewSql">
       SELECT
            advLog.ID,
            advLog.ADVERT_ID advertId,
            advLog.USER_ID userId,
            advLog.ENTER_TIME enterTime,
            advLog.EXIT_TIME exitTime,
            stu.STU_NAME stuName,
            adv.TITLE title,
            adv.COMPANY company,
            user.USERNAME userName,
            adv.CREATE_TIME createTime
       FROM
            t_advert_log advLog
            LEFT JOIN t_advert adv ON (advLog.ADVERT_ID = adv.ID)
            LEFT JOIN t_student stu ON (advLog.USER_ID = stu.ID)
            LEFT JOIN t_user user ON (adv.CREATE_USER_ID = user.USER_ID)
       WHERE
            1=1
            <if test="advertLog.title != null and advertLog.title != ''">
                AND adv.TITLE LIKE CONCAT('%',#{advertLog.title},'%')
            </if>
            <if test="advertLog.stuName != null and advertLog.stuName != ''">
                AND stu.STU_NAME LIKE CONCAT('%',#{advertLog.stuName},'%')
            </if>
    </sql>

    <sql id="countAdvertLogSql">
        SELECT
            COUNT (1)
        FROM
            t_advert_log advLog
            LEFT JOIN t_advert adv ON (advLog.ADVERT_ID = adv.ID)
            LEFT JOIN t_student stu ON (advLog.USER_ID = stu.ID)
            LEFT JOIN t_user user ON (adv.CREATE_USER_ID = user.USER_ID)
        WHERE
            1=1
            <if test="title != null and title != ''">
                AND adv.TITLE LIKE CONCAT('%',#{title},'%')
            </if>
            <if test="stuName != null and stuName != ''">
                AND stu.STU_NAME LIKE CONCAT('%',#{stuName},'%')
            </if>
    </sql>
    
    <select id="findAdvertLogNew" resultType="AdvertLog">
        <include refid="findAdvertLogNewSql"></include>
    </select>
    
    <select id="countAdvertLog" resultType="long" parameterType="AdvertLog">
      <include refid="countAdvertLogSql"></include>
    </select>
    
    <insert id="insertAdvertLogData" parameterType="int" useGeneratedKeys="true" keyColumn="ID">
        INSERT INTO
          t_advert_log(
            ADVERT_ID,
            USER_ID,
            ENTER_TIME,
            EXIT_TIME)
        VALUES (
            #{advertId},
            #{userId},
            NOW(),
            NULL)
    </insert>
    
    <select id="findStuIdByOpenId" parameterType="String" resultType="int">
        SELECT ID FROM t_student WHERE WX_APP_OPENID=#{openId}
    </select>
    
    <update id="updateExitTime" parameterType="int">
        UPDATE
          t_advert_log
        SET
          EXIT_TIME= NOW()
        WHERE
          ADVERT_ID = #{advertId}
          AND
          USER_ID = #{userId}
    </update>

    <select id="exportAdvLog" parameterType="AdvertLog" resultType="AdvertLog">
        <include refid="findAdvertLogNewSql"></include>
    </select>
</mapper>
