<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.zy.base.businesses.mapper.DicMapper">
    <sql id="findDicByidSql">
        SELECT
        id,
        sid,
        type,
        name,
        detail
        FROM
        t_dic
        WHERE 1 = 1
        AND id = #{id}
    </sql>

    <select id="findDicByid" resultType="Dic" parameterType="int">
        <include refid="findDicByidSql"></include>
    </select>
	<select id="findDicByType" resultType="Dic" parameterType="String">
       SELECT
       ID,
       SID,
       `TYPE`,
       `NAME`,
       DETAIL
       FROM
       t_dic
       WHERE
       1=1
       <if test="type!=null and type!=''">
          AND `type`=#{TYPE}
       </if>
   </select>
</mapper>
