<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.zy.base.businesses.mapper.ReqInfoMapper">
    <sql id="findReqInfoDetailSql">
        SELECT
            reqinfo.ID id,
            reqinfo.REQ_TIME reqTime,
            reqinfo.URL url,
            reqinfo.REQ_USER_ID reqUserId,
            dic.DETAIL triggerTypeName,
            u.USERNAME reqUserName,
            reqinfo.RESP_STATUS_INFO respStatusInfo
        FROM t_req_info reqinfo
        LEFT JOIN t_dic dic
            ON (reqinfo.TRIGGER_TYPE = dic.ID)
        LEFT JOIN t_user u
            ON (reqinfo.REQ_USER_ID = u.USER_ID)
    </sql>
    <sql id="countReqInfoDetailSql">
        SELECT COUNT(1)
        FROM t_req_info reqinfo
        LEFT JOIN t_dic dic
        ON (reqinfo.TRIGGER_TYPE = dic.ID)
        LEFT JOIN t_user u
        ON (reqinfo.REQ_USER_ID = u.USER_ID)
    </sql>
    <select id="selectReqInfosByCondition"  resultType="ReqInfo">
        <include refid="findReqInfoDetailSql"></include>
        <where>
            <if test="startDate != null and endDate != null">
                AND reqinfo.REQ_TIME BETWEEN #{startDate} AND  #{endDate}
            </if>
            <if test="startDate == null and endDate != null">
                AND reqinfo.REQ_TIME &lt;=  #{endDate}
            </if>
            <if test="startDate != null and endDate == null">
                AND reqinfo.REQ_TIME &gt;=  #{startDate}
            </if>
            <if test="triggerType != null ">
                AND reqinfo.TRIGGER_TYPE =  #{triggerType}
            </if>
            <if test="reqUserId != null ">
                AND reqinfo.REQ_USER_ID =  #{reqUserId}
            </if>
            AND reqinfo.STATUS =  #{status}

        </where>
    </select>

    <select id="countReqInfosByCondition"  resultType="Long">
        <include refid="countReqInfoDetailSql"></include>
        <where>
            <if test="startDate != null and endDate != null">
                AND reqinfo.REQ_TIME BETWEEN #{startDate} AND  #{endDate}
            </if>
            <if test="startDate == null and endDate != null">
                AND reqinfo.REQ_TIME &lt;=  #{endDate}
            </if>
            <if test="startDate != null and endDate == null">
                AND reqinfo.REQ_TIME &gt;=  #{startDate}
            </if>
            <if test="triggerType != null ">
                AND reqinfo.TRIGGER_TYPE =  #{triggerType}
            </if>
            <if test="reqUserId != null ">
                AND reqinfo.REQ_USER_ID =  #{reqUserId}
            </if>
            AND reqinfo.STATUS =  #{status}
        </where>
    </select>

</mapper>
