<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniu.mappers.UserMapper">
	<resultMap type="User" id="userMap">
		<id property="id" column="id"/>
		<collection property="orders" column="id"
		select="com.woniu.mappers.OrdersMapper.selectOrdersByUserid">
		</collection>
	</resultMap>
	<select id="selectUserById" parameterType="Integer" resultMap="userMap">
		SELECT * FROM user WHERE id=#{id}
	</select>
</mapper>