<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniu.mapper.PermissionMapper">
    <resultMap id="permissionMap" type="Permission">
        <id property="id" column="id"></id>
        <collection property="roleList" column="id"
        select="com.woniu.mapper.RoleMapper.selectRoleByPerid"></collection>
    </resultMap>
    <select id="selectPermissionByRid" parameterType="int" resultType="Permission">
        SELECT * FROM sys_permission WHERE id IN(
	      SELECT perid FROM sys_role_permission WHERE rid=#{rid}
        )
    </select>
    <select id="selectPermissionByNAME" parameterType="String" resultMap="permissionMap">
        SELECT id FROM sys_permission WHERE NAME=#{name}
    </select>
</mapper>