<?xml version="1.0" encoding="UTF-8"?>
<!-- MyBatis文档中第3页复制 -->
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <!-- configuration:配置文件的根元素节点 -->
 <configuration>
 	<properties resource="database.properties"></properties>
 	<settings>
 		<setting name="logImpl" value="log4j"/>
 		<setting name="useGeneratedKeys" value="true"/>
 	</settings>
 	<typeAliases>
 		<package name="com.woniu.bean"/>
 	</typeAliases>
    <!-- environments"配置的多套运行环境，默认值为mysql -->
 	<environments default="mysql">
 	    <!-- environment:使用的一套数据库环境，id值为该环境的唯一标识 -->
 		<environment id="mysql">
 			<!-- transactionManager事务管理器，type为事务管理器类型，
 			取值 JDBC：采用JDBC方式处理事务，MANAGED：这个配置几乎没做什么，
 			让容器来管理事务的整个生命周 期(比如 Spring 或 JEE 应用服务器的上下文) 
 			默认 情况下它会关闭连接 -->
 			<transactionManager type="JDBC"></transactionManager>
 			<!-- dataSource:数据源，type为数据源类型，取值 pooled：使用连接池的数据源，
 			unpooled：不使用连接池的数据源，JNDI:使用JNDI实现的数据源-->
 			<dataSource type="pooled">
 				<property name="driver" value="${driver}"/>
 				<property name="url" value="${url}"/>
 				<property name="username" value="${username}"/>
 				<property name="password" value="${password}"/>
 			</dataSource>
 		</environment>
 	</environments>
 	<!-- mappers:将SQL映射文件引入到配置文件中，一个mappers可以有多个mapper子节点 -->
 	<mappers>
 		<mapper resource="com/woniu/mappers/AdminMapper.xml"/>
 		<mapper resource="com/woniu/mappers/AddressMapper.xml"/>
 		<mapper resource="com/woniu/mappers/CartMapper.xml"/>
 		<mapper resource="com/woniu/mappers/CategoryMapper.xml"/>
 		<mapper resource="com/woniu/mappers/GoodsMapper.xml"/>
 		<mapper resource="com/woniu/mappers/OrdersMapper.xml"/>
 		<mapper resource="com/woniu/mappers/OrderitemMapper.xml"/>
 		<mapper resource="com/woniu/mappers/RemarkMapper.xml"/>
 		<mapper resource="com/woniu/mappers/UserMapper.xml"/>
 	</mappers>
 </configuration>