<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniu.mappers.OrdersMapper">
	<resultMap type="Orders" id="OrdersMap">
		<association property="user" column="userid"
		select="com.woniu.mappers.UserMapper.selectUserById">
		</association>
	</resultMap>
	<select id="selectALLOrders" resultMap="OrdersMap">
		SELECT * FROM orders
	</select>
	<select id="selectOrdersById" parameterType="int" resultType="Orders">
		SELECT * FROM orders WHERE id=#{ordersid}
	</select>
</mapper>