<style>
    #score-detail .score-info {
        display: inline-block;
        margin-left: 15px;
    }

    #score-detail #score-info-wrapper {
        margin: 0 0 1rem 0;
        display: inline-block;
    }

    #score-detail .score-info div {
        margin: 10px 15px;
        max-width: 19rem;
    }

    #score-detail #options-wrapper a {
        padding: 4px 6px;
        color: rgba(0, 0, 0, 0.65);
        border: 1px solid #d9d9d9;
        border-radius: 2px;
    }

    #score-detail #options-wrapper a:hover {
        color: #40a9ff;
        border-color: #40a9ff;
    }
    .scoreItem {
        margin-top: 15px;
        margin-left: 30px;
    }

</style>
<div class="layui-fluid" id="score-detail" lay-title="成绩详情">
            <form class="layui-form" action="" lay-filter="user-add-form">
                <table>
                    <tr>
                        <td>
                            <div class="scoreItem" ><span class="layui-icon layui-icon-user"></span> 姓名：
                                [[${entranceScore.stuName}]]
                            </div>
                        </td>
                        <td>
                            <div class="scoreItem"><span class="layui-icon layui-icon-note"></span> 身份证号：
                                [[${entranceScore.identity}]]
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="scoreItem"><span class="layui-icon layui-icon-phone"></span> 手机号：
                                [[${entranceScore.tel}]]
                            </div>
                        </td>
                        <td>
                            <div class="scoreItem"><span class="layui-icon layui-icon-home"></span> 院校：
                                [[${entranceScore.collegeName}]]
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td id="scoreItem">

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="scoreItem"><span class="layui-icon layui-icon-read"></span> 加分项：
                                [[${entranceScore.addscoreitem}]]
                            </div>
                        </td>
                        <td>
                            <div class="scoreItem"><span class="layui-icon layui-icon-read"></span> 总分：
                                [[${entranceScore.totalscore}]]
                            </div>
                        </td>
                        <td>
                            <div class="scoreItem"><span class="layui-icon layui-icon-read"></span> 考试总成绩：
                                [[${entranceScore.finalscore}]]
                            </div>
                        </td>
                    </tr>
                    <tr>

                    </tr>
                    <tr>

                    </tr>
                </table>
                <div class="layui-form-item layui-form-text" style="margin-top: 20px">
                    <label class="layui-form-label"><span class="layui-icon layui-icon-survey"></span>备注：</label>
                    <div class="layui-input-block">
                        <textarea id="remark" name="remark" maxlength="100" style="width: 450px" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item febs-hide" >
                    <button class="layui-btn" lay-submit="" lay-filter="entrance-detail-form-submit" id="submit"></button>
                    <button type="reset" class="layui-btn" id="reset"></button>
                </div>
                <input type="hidden" name="batchId" id="datail-batchId">
                <input type="hidden" name="studyTypeId" id="datail-studyTypeId">
                <input type="hidden" name="identity" id="datail-identity">
            </form>
</div>
<script data-th-inline="javascript">
    layui.use(['febs', 'form','xmSelect',  'validate'], function () {
        let $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            form = layui.form,
            xmSelect = layui.xmSelect,
            entranceScore = [[${entranceScore}]],
            eamXmSelect,
            levelSelect;
        $('#datail-batchId').val(entranceScore.batchId);
        $('#datail-studyTypeId').val(entranceScore.studyTypeId);
        $('#datail-identity').val(entranceScore.identity);
        //学科及成绩遍历
        $(function () {
            var data=entranceScore.scores;
            // console.log(entranceScore.scores);
            for (let i = 0; i < data.length; i++) {
                $ ("#scoreItem"). append("<div style='margin-top: 15px;margin-left: 30px'><span class='layui-icon layui-icon-form'></span> "+data[i].subject+"："+data[i].score+"</div>")
            }
        });

        // form.on('submit(entrance-detail-form-submit)', function (data) {
        //     var data = data.field;
        //     console.log(data)
        //         febs.get(ctx + 'entranceScore/', data, function () {
        //             layer.closeAll();
        //             febs.alert.success('新增教学计划成功');
        //             $('#businesses-teachProgram').find('#query').click();
        //         });
        //         return false;
        //
        //
        // });
    })
</script>