<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ajaxdemo1</title>
    <script th:src="@{/static/js/jquery-1.12.3.min.js}"></script>
    <script>
        $(function(){
            $("#submitBtn").click(function(){
                console.log("*************")
                $.ajax({
                    //type:"GET",
                    type:"post",
                    url:"/ssm/roles",
                    /*url:"testAjaxDemo1",这个路径也可以*/
                    //data:JSON.stringify({telephone:$("#telephone").val(),PASSWORD:$("#password").val()}),
                    data:{telephone:$("#telephone").val(),PASSWORD:$("#password").val()},
                    //contentType:"application/json;charset=UTF-8",
                    sussess:function(resp){
                        console.log(resp);
                    }
                });
            })
        })
    </script>
</head>
<body>
<h1>ajaxdemo1</h1>
手机号：<input type="text" id="telephone"><br>
密码：<input type="text" id="password"><br>
<input type="button" value="提交" id="submitBtn">
</body>
</html>