<div class="layui-fluid layui-anim febs-anim" id="businesses-classGrouping" lay-title="分班">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="classGrouping-table-form">
                        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
                            <legend style="font-size: 15px; font-weight: bolder;">批量查询</legend>
                        </fieldset>
                        <div class="layui-row">
                            <div class="layui-col-md12">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">批次</label>
                                        <div class="layui-input-inline">
                                            <select name="batchId" id="cboClassGroupingBatch"
                                                    lay-filter="cboClassGroupingBatch">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">院校</label>
                                        <div class="layui-input-inline">
                                            <select name="collegeId" id="cboClassGroupingCollege" lay-search=""
                                                    lay-filter="cboClassGroupingCollege">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">层次</label>
                                        <div class="layui-input-inline">
                                            <select name="level" id="cboClassGroupingLevel"
                                                    lay-filter="cboClassGroupingLevel">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">专业</label>
                                        <div class="layui-input-inline">
                                            <select name="majorId" id="cboClassGroupingMajor" lay-search=""
                                                    lay-filter="cboClassGroupingMajor">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">招生老师</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="userId" id="txtClassGroupingTeacher"
                                                   lay-filter="txtClassGroupingTeacher" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
                            <legend style="font-size: 15px; font-weight: bolder;">精确查询</legend>
                        </fieldset>
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">姓名</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="stuName" autocomplete="off" class="layui-input"
                                                   lay-verify="txt" maxlength="10">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">身份证号</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="identity" autocomplete="off" class="layui-input"
                                                   lay-verify="dimIdentity" maxlength="18">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">手机号</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="tel" autocomplete="off" class="layui-input"
                                                   lay-verify="number" maxlength="11">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action"
                                     id="classGroupingQuery" lay-submit lay-filter="classGroupingQuery">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-green-plain table-action"
                                     id="classGroupingReset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                        <div class="layui-row layui-form">
                            <div class="layui-inline">
                                <label class="layui-form-label layui-form-label-sm">班级</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="classId" id="txtClassGroupingClass"
                                           lay-filter="txtClassGroupingClass" class="layui-input">
                                </div>
                            </div>
                            <input type="hidden" id="hidClassGroupingClassId" data-th-value="${id}">
                            <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action"
                                 id="classGroupingSelected">
                                <i class="layui-icon">所选学生</i>
                            </div>
                            <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action"
                                 id="classGroupingCurrPage">
                                <i class="layui-icon">本页所有</i>
                            </div>
                            <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action"
                                 id="classGroupingAllResult">
                                <i class="layui-icon">所有结果</i>
                            </div>
                        </div>
                    </blockquote>
                    <table lay-filter="classGroupingStudentTable" lay-data="{id: 'classGroupingStudentTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="student-option">
    <a lay-event="classGroupingDetail" title="查看详情"><i class="layui-icon febs-edit-area febs-green">&#xe7a5;</i></a>
</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(["treeSelect", 'jquery', 'form', 'table', 'febs', 'validate'], function () {
        let $ = layui.jquery,
            febs = layui.febs,
            form = layui.form,
            treeSelect = layui.treeSelect,
            table = layui.table,
            $view = $('#businesses-classGrouping'),
            $query = $view.find('#classGroupingQuery'),
            $reset = $view.find('#classGroupingReset'),
            $searchForm = $view.find('form'),
            validate = layui.validate,
            tableIns,
            $groupingSelected = $view.find('#classGroupingSelected'),
            $groupingCurrPage = $view.find('#classGroupingCurrPage'),
            $groupingAllResult = $view.find('#classGroupingAllResult');

        form.verify(validate);

        form.render();

        initTable();

        //招生老师-树形下拉框带搜索
        treeSelect.render({
            // 选择器
            elem: '#txtClassGroupingTeacher',
            // 数据
            data: ctx + 'transferApplication/userDeptTree',
            // 异步加载方式：get/post，默认get
            type: 'get',
            // 占位符
            placeholder: '请选择',
            // 是否开启搜索功能：true/false，默认false
            search: true,
//            style: {
//                folder: { // 父节点图标
//                    enable: true // 是否开启：true/false
//                },
//                line: {
//                    enable: true
//                }
//            },
            // 点击回调
            click: function (d) {
                $("#txtClassGroupingTeacher").val(d.current.id);
            },
            // 加载完成后的回调函数
            success: function (d) {
            }
        });

        //班级-树形下拉框带搜索
        treeSelect.render({
            // 选择器
            elem: '#txtClassGroupingClass',
            // 数据
            data: ctx + 'class/classesTree',
            // 异步加载方式：get/post，默认get
            type: 'get',
            // 占位符
            placeholder: '请选择',
            // 是否开启搜索功能：true/false，默认false
            search: true,
//            style: {
//                folder: { // 父节点图标
//                    enable: true // 是否开启：true/false
//                },
//                line: {
//                    enable: true
//                }
//            },
            // 点击回调
            click: function (d) {
                $("#txtClassGroupingClass").val(d.current.id);
            },
            // 加载完成后的回调函数
            success: function (d) {
                let classId = $('#hidClassGroupingClassId').val();
                treeSelect.checkNode('txtClassGroupingClass', classId);
                $("#txtClassGroupingClass").val(classId);
            }
        });

        //分组--所选
        $groupingSelected.on('click', function () {
            let checkStatus = table.checkStatus('classGroupingStudentTable');
            let classId = $("#txtClassGroupingClass").val();
            if (!classId) {
                febs.alert.warn('请先选择班级');
                return false;
            }
            if (!checkStatus.data.length) {
                febs.alert.warn('请选择需要分班的学生');
            } else {
                febs.modal.confirm('提示', '确定将所选学生进行分班？', function () {
                    let studentIds = [];
                    layui.each(checkStatus.data, function (key, item) {
                        studentIds.push(item.id);
                    });
                    groupingStudent(studentIds.join(','), classId);
                });
            }
        });
        //分组--本页全部
        $groupingCurrPage.on('click', function () {
            let classId = $("#txtClassGroupingClass").val();
            let data = table.cache["classGroupingStudentTable"];
            if (!classId) {
                febs.alert.warn('请先选择学生组');
                return false;
            }
            if (data.length == 0) {
                febs.alert.warn('本页没有需要进行分班的学生');
                return false;
            }
            febs.modal.confirm('提示', '确定将当前页的学生进行分班？', function () {
                let studentIds = [];
                layui.each(data, function (key, item) {
                    studentIds.push(item.id);
                });
                groupingStudent(studentIds.join(','), classId);
            });
        });
        //分组--所有结果
        $groupingAllResult.on('click', function () {
            let classId = $("#txtClassGroupingClass").val();
            let data = table.cache["classGroupingStudentTable"];
            if (!classId) {
                febs.alert.warn('请先选择班级');
                return false;
            }
            if (data.length == 0) {
                febs.alert.warn('无学生满足当前查询条件，不能进行分班');
                return false;
            }
            febs.modal.confirm('提示', '确定将查询到的所有学生进行分班？', function () {
                let params = getQueryParams();
                febs.post(ctx + 'class/updateClassIdAll?classId=' + classId, params, function () {
                    febs.alert.success('分班操作成功');
                    $query.click();
                });
            });
        });

        form.on('submit(classGroupingQuery)', function (data) {
            let params = getQueryParams();
            tableIns.reload({where: params, page: {curr: 1}});
            return false;
        });

        //文本框回车查询
        $(".layui-input").keyup(function (e) {
            if (e.which === 13) {
                $query.click();
            }
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            $("#cboClassGroupingLevel").empty();
            $("#cboClassGroupingLevel").append(new Option("", ""));
            $("#cboClassGroupingMajor").empty();
            $("#cboClassGroupingMajor").append(new Option("", ""));
            tableIns.reload({where: getQueryParams(true), page: {curr: 1}});
        });

        //学生详情
        table.on('tool(classGroupingStudentTable)', function (obj) {
            let data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'classGroupingDetail') {
                febs.modal.view('学生详情', 'recruitStudent/detail/' + data.id, {
                    area: ['70%', '80%'],
                    tipsMore: true
                });
            }
        });

        function initTable() {
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'classGroupingStudentTable',
                url: ctx + 'class/studentList',
                cols: [[
                    {type: 'checkbox'},
                    {field: 'batchName', title: '批次', width: 80},
                    {field: 'collegeName', title: '院校', minWidth: 150},
                    {field: 'levelname', title: '层次', width: 80},
                    {field: 'majorName', title: '专业', minWidth: 160},
                    {field: 'userName', title: '招生老师', minWidth: 120},
                    {field: 'stuName', title: '姓名', minWidth: 120},
                    {field: 'identity', title: '身份证号', width: 180},
                    {field: 'tel', title: '手机号', width: 120},
                    {title: '操作', toolbar: '#student-option', width: 60}
                ]],
                done: function (res, curr, count) {
                    $("table").css("width", "100%");
                }
            });
        }

        function getQueryParams(flag) {
            let params = $searchForm.serializeJson();
            return params;
        }

        function groupingStudent(studentIds, classId) {
            febs.post(ctx + 'class/updateClassId/' + studentIds + '/' + classId, null, function () {
                febs.alert.success('分班操作成功');
                $query.click();
            });
        }

        //查询所有有效批次
        febs.get(ctx + 'college/batchSelect', null, function (data) {
            let list = data.data;
            for (let i = 0; i < list.length; i++) {
                $("#cboClassGroupingBatch").append(new Option(list[i].batchName, list[i].id));
            }
            //重新渲染下拉菜单
            form.render("select");
        });

        //查询所有院校
        febs.get(ctx + 'college/collegeSelect', null, function (data) {
            let list = data.data;
            for (let i = 0; i < list.length; i++) {
                $("#cboClassGroupingCollege").append(new Option(list[i].name, list[i].id));
            }
            //重新渲染下拉菜单
            form.render("select");
        });

        //院校层次联动
        form.on('select(cboClassGroupingCollege)', function (data) {
            let collegeId = data.value;
            $("#cboClassGroupingLevel").empty();
            $("#cboClassGroupingLevel").append(new Option("", ""));
            $("#cboClassGroupingMajor").empty();
            $("#cboClassGroupingMajor").append(new Option("", ""));
            febs.get(ctx + 'college/levelSelect?collegeId=' + collegeId, null, function (data) {
                let list = data.data;
                for (let i = 0; i < list.length; i++) {
                    $("#cboClassGroupingLevel").append(new Option(list[i].levelName, list[i].id));
                }
                //重新渲染下拉菜单
                form.render("select");
            });
        })

        //院校层次专业联动
        form.on('select(cboClassGroupingLevel)', function (data) {
            let collegeId = $("#cboClassGroupingCollege").val();
            let levelId = data.value;
            $("#cboClassGroupingMajor").empty();
            $("#cboClassGroupingMajor").append(new Option("", ""));
            febs.get(ctx + 'college/majorSelect?collegeId=' + collegeId + "&levelId=" + levelId, null, function (data) {
                let list = data.data;
                for (let i = 0; i < list.length; i++) {
                    $("#cboClassGroupingMajor").append(new Option(list[i].fullName, list[i].id));
                }
                //重新渲染下拉菜单
                form.render("select");
            });
        })
    })
</script>