<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>javaweb20200921</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
 <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.woniu.filters.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>EcodeFilter</filter-name>
    <filter-class>com.woniu.filters.EcodeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EcodeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>user</servlet-name>
    <servlet-class>com.woniu.servlets.UsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user</servlet-name>
    <url-pattern>/user.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>goodsType</servlet-name>
    <servlet-class>com.woniu.servlets.GoodsTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>goodsType</servlet-name>
    <url-pattern>/goodsType.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>supplier</servlet-name>
    <servlet-class>com.woniu.servlets.SupplierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>supplier</servlet-name>
    <url-pattern>/supplierList.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>goods</servlet-name>
    <servlet-class>com.woniu.servlets.GoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>goods</servlet-name>
    <url-pattern>/goodsList.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>exit</servlet-name>
    <servlet-class>com.woniu.servlets.ExitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exit</servlet-name>
    <url-pattern>/exit.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>instockList</servlet-name>
    <servlet-class>com.woniu.servlets.InstockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>instockList</servlet-name>
    <url-pattern>/instockList.do</url-pattern>
  </servlet-mapping>
  
</web-app>