<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.isoftstone.humanresources.dao.CandidateDao">
	<!-- 返回值映射map -->
	<resultMap id="candidateMapper" type="com.isoftstone.humanresources.domain.recruit.CandidateModel">
			<result property="candidateID" column="candidateID" />
			<result property="candidateName" column="candidateName" />
			<result property="sex" column="sex" />
			<result property="mobile" column="mobile" />
			<result property="email" column="email" />
			<result property="cardID" column="cardID" />
			<result property="status" column="status" />
			<result property="skill" column="skill" />
			<result property="workYear" column="workYear" />
			<result property="birthday" column="birthday" />
			<result property="major" column="major" />
			<result property="graducationSchool" column="graducationSchool" />
			<result property="graducationDate" column="graducationDate" />
			<result property="firstOrderTime" column="firstOrderTime" />
			<result property="workDate" column="workDate" />
			<result property="is211" column="is211" />
			<result property="rmo" column="rmo" />
			<result property="responsible" column="responsible" />
			<result property="area" column="area" />
			<result property="resumeurl" column="resumeURL" />
		<result property="createTime" column="createTime" />
		<result property="createUser" column="createUser" />
			<result property="bak" column="bak" />
	</resultMap>
	
	<!--查询候选人列表-->
	<select id="queryCandidate" parameterType="com.isoftstone.humanresources.domain.recruit.QueryCandidateRequest"
			resultType="com.isoftstone.humanresources.domain.recruit.CandidateModel">
		select
		candidateID,
		candidateName,
		sex,
		mobile,
		email,
		cardID,
		status,
		skill,
		workYear,
		birthday,
		major,
		graducationSchool,
		graducationDate,
		firstOrderTime,
		workDate,
		is211,
		rmo,
		responsible,
		area,
		resumeURL,
		createTime,
		createUser,
		bak
		from
		t_candidate
		<where>
			<if test="candidateName != null and candidateName !=''">
				candidateName LIKE CONCAT(CONCAT('%',#{candidateName}),'%')
			</if>
			<if test="mobile != null and mobile !=''">
				and
				mobile LIKE CONCAT(CONCAT('%',#{mobile}),'%')
			</if>
			<if test="mobile != null and mobile !=''">
				and
				email  LIKE CONCAT(CONCAT('%',#{email}),'%')
			</if>
			<if test="status != null and status !=''">
				and
				status  = #{status}
			</if>
		</where>
	</select>

	<!--  新增候选人-->
	<insert id="addCandidate" parameterType="com.isoftstone.humanresources.domain.recruit.CandidateModel">
        replace into
		t_candidate
        (
			<trim suffixOverrides=",">
				<if test="candidateID != null">candidateID,</if>
				<if test="candidateName != null">candidateName,</if>
				<if test="sex != null">sex,</if>
				<if test="mobile != null">mobile,</if>
				<if test="email != null">email,</if>
				<if test="cardID != null">cardID,</if>
				<if test="status != null">status,</if>
				<if test="skill != null">skill,</if>
				<if test="workYear != null">workYear,</if>
				<if test="birthday != null">birthday,</if>
				<if test="major != null">major,</if>
				<if test="graducationSchool != null">graducationSchool,</if>
				<if test="graducationDate != null">graducationDate,</if>
				<if test="firstOrderTime != null">firstOrderTime,</if>
				<if test="workDate != null">workDate,</if>
				<if test="is211 != null">is211,</if>
				<if test="rmo != null">rmo,</if>
				<if test="responsible != null">responsible,</if>
				<if test="area != null">area,</if>
				<if test="createTime != null">createTime,</if>
				<if test="createUser != null">createUser,</if>
				<if test="resumeurl != null">resumeURL,</if>
				<if test="bak != null">bak,</if>
			</trim>
        )
        values(
		<trim suffixOverrides=",">
			<if test="candidateID != null">#{candidateID},</if>
			<if test="candidateName != null">#{candidateName},</if>
			<if test="sex != null">#{sex},</if>
			<if test="mobile != null">#{mobile},</if>
			<if test="email != null">#{email},</if>
			<if test="cardID != null">#{cardid},</if>
			<if test="status != null">#{status},</if>
			<if test="skill != null">#{skill},</if>
			<if test="workYear != null">#{workYear},</if>
			<if test="birthday != null">#{birthday},</if>
			<if test="major != null">#{major},</if>
			<if test="graducationSchool != null">#{graducationSchool},</if>
			<if test="graducationDate != null">#{graducationDate},</if>
			<if test="firstOrderTime != null">#{firstOrderTime},</if>
			<if test="workDate != null">#{workDate},</if>
			<if test="is211 != null">#{is211},</if>
			<if test="rmo != null">#{rmo},</if>
			<if test="responsible != null">#{responsible},</if>
			<if test="area != null">#{area},</if>
			<if test="createTime != null">#{createTime},</if>
			<if test="createUser != null">#{createUser},</if>
			<if test="resumeurl != null">#{resumeurl},</if>
			<if test="bak != null">#{bak},</if>
		</trim>
		)
  </insert>

	<!--更新用户组-->
	<update id="updateCandidate" parameterType="com.isoftstone.humanresources.domain.recruit.CandidateModel">
		update t_candidate record
		<set>
			<if test = "candidateID != null ">
				record.candidateID = #{candidateID},
			</if>
			<if test = "candidateName != null ">
				record.candidateName = #{candidateName},
			</if>
			<if test = "sex != null ">
				record.sex = #{sex},
			</if>
			<if test = "mobile != null ">
				record.mobile = #{mobile},
			</if>
			<if test = "email != null ">
				record.email = #{email},
			</if>
			<if test = "cardID != null ">
				record.cardID = #{cardID},
			</if>
			<if test = "status != null ">
				record.status = #{status},
			</if>
			<if test = "skill != null ">
				record.skill = #{skill},
			</if>
			<if test = "workYear != null ">
				record.workYear = #{workYear},
			</if>
			<if test = "birthday != null ">
				record.birthday = #{birthday},
			</if>
			<if test = "major != null ">
				record.major = #{major},
			</if>
			<if test = "graducationSchool != null ">
				record.graducationSchool = #{graducationSchool},
			</if>
			<if test = "graducationDate != null ">
				record.graducationDate = #{graducationDate},
			</if>
			<if test = "firstOrderTime != null ">
				record.firstOrderTime = #{firstOrderTime},
			</if>
			<if test = "workDate != null ">
				record.workDate = #{workDate},
			</if>
			<if test = "is211 != null ">
				record.is211 = #{is211},
			</if>
			<if test = "rmo != null ">
				record.rmo = #{rmo},
			</if>
			<if test = "responsible != null ">
				record.responsible = #{responsible},
			</if>
			<if test = "area != null ">
				record.area = #{area},
			</if>
			<if test = "resumeurl != null ">
				record.resumeURL = #{resumeurl},
			</if>
			<if test = "bak != null ">
				record.bak = #{bak}
			</if>
		</set>
		where
		candidateID = #{candidateID}
  </update>

</mapper>