<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.isoftstone.humanresources.dao.FollowDao">
	<!-- 返回值映射map -->
	<resultMap id="followMapper" type="com.isoftstone.humanresources.domain.gather.FollowModel">
			<result property="id" column="id" />
			<result property="type" column="type" />
			<result property="employeeid" column="employeeID" />
			<result property="followid" column="followID" />
			<result property="status" column="status" />
			<result property="createtime" column="createtime" />
			<result property="bak" column="bak" />
	</resultMap>
	
	<!-- 查询数量公共sql -->
	<sql id="count_Tail">
		select count(1) from t_follow record
	</sql>
	
	<!-- 分页公共sql -->
	<sql id="pagination_tail">
	  limit #{page.pageOffset} , #{page.pageSize}
	</sql>

	<!-- 查询字段公共sql -->
	<sql id="selectAllColumns">
	    SELECT 
	    <if test="queryFields != null ">
	 	     <trim prefix="" suffix="" suffixOverrides=",">
		        <foreach collection="queryFields" item="fi" index="index">
		          ${fi},
		        </foreach>
		      </trim> 	
	  	</if>
	    <if test="queryFields == null ">
	  		<![CDATA[
				 id, 
				 type, 
				 employeeID, 
				 followID, 
				 status, 
				 createtime, 
				 bak 
			]]>
	  	</if>
	     FROM t_follow record
	</sql>
	
	<sql id="where_fragement">
		<where> 
			<if test="entity!=null">
					<if test = "entity.id != null and entity.id != ''">
						<![CDATA[ and record.id  = #{entity.id} ]]>
					</if>
					<if test = "entity.type != null and entity.type != ''">
						<![CDATA[ and record.type  = #{entity.type} ]]>
					</if>
					<if test = "entity.employeeid != null and entity.employeeid != ''">
						<![CDATA[ and record.employeeID  = #{entity.employeeid} ]]>
					</if>
					<if test = "entity.followid != null and entity.followid != ''">
						<![CDATA[ and record.followID  = #{entity.followid} ]]>
					</if>
					<if test = "entity.status != null and entity.status != ''">
						<![CDATA[ and record.status  = #{entity.status} ]]>
					</if>
					<if test = "entity.createtime != null and entity.createtime != ''">
						<![CDATA[ and record.createtime  = #{entity.createtime} ]]>
					</if>
					<if test = "entity.bak != null and entity.bak != ''">
						<![CDATA[ and record.bak  = #{entity.bak} ]]>
					</if>
			</if>
		</where>
	</sql>
	
	<sql id="time_sort">
		order by id desc
	</sql>

	<!-- 分页查询数据集合-->
	<select id="queryPageFollow" resultMap="followMapper" >
		<include refid="selectAllColumns"/>
		<include refid="where_fragement" />
		<include refid="time_sort" />
		<if test="page!=null">
			<include refid="pagination_tail" />
		</if>
		
	</select>
	
	<!-- 不分页查询数据集合-->
	<select id="queryListFollow" resultMap="followMapper" >
		<include refid="selectAllColumns"/>
		<include refid="where_fragement" />
		<include refid="time_sort" />
	</select>
	
	<!-- 查询总数量 -->
	<select id="queryCountFollow" resultType="long">
		<include refid="count_Tail"></include>
		<include refid="where_fragement"></include>
	</select>

	<!-- 查询单个实体 -->
	<select id="queryFollowById" resultMap="followMapper" >
		<include refid="selectAllColumns"/>
		 where 
		 record.id = #{id}
	</select>
	
	<!-- 新增列处理 -->
	<sql id="sql_add_columns">
		<trim suffixOverrides=",">
			<if test="id != null">id,</if>
			<if test="type != null">type,</if>
			<if test="employeeid != null">employeeID,</if>
			<if test="followid != null">followID,</if>
			<if test="status != null">status,</if>
			<if test="createtime != null">createtime,</if>
			<if test="bak != null">bak,</if>
		</trim>
	</sql>

	<sql id="sql_add_properties">
		<trim suffixOverrides=",">
				<if test="id != null">#{id},</if>
				<if test="type != null">#{type},</if>
				<if test="employeeid != null">#{employeeid},</if>
				<if test="followid != null">#{followid},</if>
				<if test="status != null">#{status},</if>
				<if test="createtime != null">#{createtime},</if>
				<if test="bak != null">#{bak},</if>
		</trim>		
	</sql>
	
	<!-- 新增 -->
	<insert id="addFollow" parameterType="com.isoftstone.humanresources.domain.gather.FollowModel">
		insert into t_follow(
			<include refid="sql_add_columns"/>
		)values(
			<include refid="sql_add_properties"/>
		)
	</insert>

	<!-- 编辑 -->
	<update id="updateFollow" parameterType="com.isoftstone.humanresources.domain.gather.FollowModel">
		update t_follow record 
			<set>
					<if test = "type != null ">
						record.type = #{type},
					</if>
					<if test = "employeeid != null ">
						record.employeeID = #{employeeid},
					</if>
					<if test = "followid != null ">
						record.followID = #{followid},
					</if>
					<if test = "status != null ">
						record.status = #{status},
					</if>
					<if test = "createtime != null ">
						record.createtime = #{createtime},
					</if>
					<if test = "bak != null ">
						record.bak = #{bak}
					</if>
			</set>
		where id = #{id}
	</update>
	
	<!-- 删除 -->
	<delete id="removeFollowByIds" parameterType="java.util.List">
		delete from t_follow 
			where id in
			<foreach collection="list" open="(" separator="," close=")" item="code">
				#{code}
			</foreach>
	</delete>

	<delete id="removeFollowById">
		delete from t_follow 
		<if test=" id != null and id != ''">
			where id = #{id}
		</if>
	</delete>
	
</mapper>
