<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.isoftstone.humanresources.dao.GroupActivitiesDao">
	<!-- 返回值映射map -->
	<resultMap id="groupActivitiesMapper" type="com.isoftstone.humanresources.domain.GroupActivities">
			<result property="id" column="id" />
			<result property="time" column="time" />
			<result property="address" column="address" />
			<result property="subject" column="subject" />
			<result property="content" column="content" />
			<result property="mans" column="mans" />
			<result property="pdu" column="pdu" />
			<result property="project" column="project" />
			<result property="leader" column="leader" />
			<result property="createbody" column="createbody" />
			<result property="createName" column="createName" />
			<result property="createImg" column="createImg" />
			<result property="imgs" column="imgs" />
			<result property="status" column="status" />
			<result property="createtime" column="createtime" />
			<result property="updatetime" column="updatetime" />
			<result property="bak" column="bak" />
		<result property="approved" column="approved" />
		<result property="approveduser" column="approveduser" />
	</resultMap>
	
	<!-- 查询数量公共sql -->
	<sql id="count_Tail">
		select count(1) from t_group_activities record
	</sql>
	
	<!-- 分页公共sql -->
	<sql id="pagination_tail">
	  limit #{page.pageOffset} , #{page.pageSize}
	</sql>

	<!-- 查询字段公共sql -->
	<sql id="selectAllColumns">
	    SELECT 
	    <if test="queryFields != null ">
	 	     <trim prefix="" suffix="" suffixOverrides=",">
		        <foreach collection="queryFields" item="fi" index="index">
		          ${fi},
		        </foreach>
		      </trim> 	
	  	</if>
	    <if test="queryFields == null ">
	  		<![CDATA[
				 id, 
				 time, 
				 address, 
				 subject, 
				 content, 
				 mans,
				 pdu,
				 project,
				 leader,
				 createbody, 
				 imgs, 
				 status, 
				 createtime, 
				 updatetime, 
				 bak ,
				 approved,
				 approveduser
			]]>
	  	</if>
	     FROM t_group_activities record
	</sql>
	
	<sql id="where_fragement">
		<where>
		 1=1
			<if test="entity!=null">
					<if test = "entity.id != null and entity.id != ''">
						<![CDATA[ and record.id  = #{entity.id} ]]>
					</if>
					<if test = "entity.time != null and entity.time != ''">
						<![CDATA[ and record.time  = #{entity.time} ]]>
					</if>
					<if test = "entity.address != null and entity.address != ''">
						<![CDATA[ and record.address  = #{entity.address} ]]>
					</if>
					<if test = "entity.subject != null and entity.subject != ''">
						<![CDATA[ and record.subject  = #{entity.subject} ]]>
					</if>
					<if test = "entity.content != null and entity.content != ''">
						<![CDATA[ and record.content  = #{entity.content} ]]>
					</if>
					<if test = "entity.mans != null and entity.mans != ''">
						<![CDATA[ and record.mans  = #{entity.mans} ]]>
					</if>
				<if test = "entity.pdu != null and entity.pdu != ''">
					<![CDATA[ and record.pdu  = #{entity.pdu} ]]>
				</if>
				<if test = "entity.project != null and entity.project != ''">
					<![CDATA[ and record.project  = #{entity.project} ]]>
				</if>
				<if test = "entity.leader != null and entity.leader != ''">
					<![CDATA[ and record.leader  = #{entity.leader} ]]>
				</if>
					<if test = "entity.createbody != null and entity.createbody != ''">
						<![CDATA[ and record.createbody  = #{entity.createbody} ]]>
					</if>
					<if test = "entity.imgs != null and entity.imgs != ''">
						<![CDATA[ and record.imgs  = #{entity.imgs} ]]>
					</if>
					<if test = "entity.status != null and entity.status != ''">
						<![CDATA[ and record.status  = #{entity.status} ]]>
					</if>
					<if test = "entity.createtime != null and entity.createtime != ''">
						<![CDATA[ and record.createtime  = #{entity.createtime} ]]>
					</if>
					<if test = "entity.updatetime != null and entity.updatetime != ''">
						<![CDATA[ and record.updatetime  = #{entity.updatetime} ]]>
					</if>
					<if test = "entity.bak != null and entity.bak != ''">
						<![CDATA[ and record.bak  = #{entity.bak} ]]>
					</if>
				<if test = "entity.approved != null and entity.approved != ''">
					<![CDATA[ and record.approved  = #{entity.approved} ]]>
				</if>
			</if>
		</where>
	</sql>
	
	<sql id="time_sort">
		order by id desc
	</sql>

	<!-- 分页查询数据集合-->
	<select id="queryPageGroupActivities" resultMap="groupActivitiesMapper" >
		select id,
				 time,
				 address,
				 subject,
				 mans,
				 pdu,
				 project,
				 leader,
				 createbody,
				 imgs,
				 status,
				 createtime,
				 updatetime,
				 bak ,
				 approved,
				 approveduser
		FROM t_group_activities record
		<include refid="where_fragement" />
		<include refid="time_sort" />
		<if test="page!=null">
			<include refid="pagination_tail" />
		</if>
		
	</select>
	
	<!-- 不分页查询数据集合-->
	<select id="queryListGroupActivities" resultMap="groupActivitiesMapper" >
 	SELECT  record.id,
		record.time,
		record.address,
		record.subject,
		record.mans,
		record.pdu,
		record.project,
		record.leader,
		record.createbody,
		te.employeeName as createName ,
		record.imgs,
		record.status,
		record.createtime,
		record.updatetime,
		record.bak ,
		record.approved,
		record.approveduser
		FROM t_group_activities record
		left join t_employee te on te.employeeID = record.createbody
		<where>
			1=1
			<if test="entity!=null">
				<if test = "entity.id != null and entity.id != ''">
					<![CDATA[ and record.id  = #{entity.id} ]]>
				</if>
				<if test = "entity.time != null and entity.time != ''">
					<![CDATA[ and record.time  = #{entity.time} ]]>
				</if>
				<if test = "entity.address != null and entity.address != ''">
					<![CDATA[ and record.address  = #{entity.address} ]]>
				</if>
				<if test = "entity.subject != null and entity.subject != ''">
					<![CDATA[ and record.subject  = #{entity.subject} ]]>
				</if>
				<if test = "entity.content != null and entity.content != ''">
					<![CDATA[ and record.content  = #{entity.content} ]]>
				</if>
				<if test = "entity.mans != null and entity.mans != ''">
					<![CDATA[ and record.mans  = #{entity.mans} ]]>
				</if>
				<if test = "entity.pdu != null and entity.pdu != ''">
					<![CDATA[ and record.pdu  = #{entity.pdu} ]]>
				</if>
				<if test = "entity.project != null and entity.project != ''">
					<![CDATA[ and record.project  = #{entity.project} ]]>
				</if>
				<if test = "entity.leader != null and entity.leader != ''">
					<![CDATA[ and record.leader  = #{entity.leader} ]]>
				</if>
				<if test = "entity.createbody != null and entity.createbody != ''">
					<![CDATA[ and record.createbody  = #{entity.createbody} ]]>
				</if>
				<if test = "entity.imgs != null and entity.imgs != ''">
					<![CDATA[ and record.imgs  = #{entity.imgs} ]]>
				</if>
				<if test = "entity.status != null and entity.status != ''">
					<![CDATA[ and record.status  = #{entity.status} ]]>
				</if>
				<if test = "entity.createtime != null and entity.createtime != ''">
					<![CDATA[ and record.createtime  = #{entity.createtime} ]]>
				</if>
				<if test = "entity.updatetime != null and entity.updatetime != ''">
					<![CDATA[ and record.updatetime  = #{entity.updatetime} ]]>
				</if>
				<if test = "entity.bak != null and entity.bak != ''">
					<![CDATA[ and record.bak  = #{entity.bak} ]]>
				</if>
				<if test = "entity.approved != null and entity.approved != ''">
					<![CDATA[ and record.approved  = #{entity.approved} ]]>
				</if>
			</if>
		</where>
		order by id desc
	</select>

	<select id="querySingleGroupActivities" resultMap="groupActivitiesMapper" >
		select record.id,
		record.time,
		record.address,
		record.subject,
		record.content,
		record.mans,
		record.pdu,
		record.project,
		record.leader,
		record.createbody,
		te.employeeName as createName ,
		te.imgURL as createImg,
		record.imgs,
		record.status,
		record.createtime,
		record.updatetime,
		record.bak,
		record.approved,
		record.approveduser
		from t_group_activities record
		left join t_employee te on te.employeeID = record.createbody
		<if test=" id != null ">
			where record.id = #{id}
		</if>
	</select>
	
	<!-- 查询总数量 -->
	<select id="queryCountGroupActivities" resultType="long">
		<include refid="count_Tail"></include>
		<include refid="where_fragement"></include>
	</select>

	<!-- 查询单个实体 -->
	<select id="queryGroupActivitiesById" resultMap="groupActivitiesMapper" >
		select record.id,
				 record.time,
				 record.address,
				 record.subject,
				 record.content,
				 record.mans,
				 record.pdu,
				 record.project,
				 record.leader,
				 record.createbody,
				 te.employeeName as createName ,
				 te.imgURL as createImg,
				 record.imgs,
				 record.status,
				 record.createtime,
				 record.updatetime,
				 record.bak,
				record.approved,
				record.approveduser
		from t_group_activities record
		left join t_employee te on te.employeeID = record.createbody
		 where 
		 record.id = #{id}
	</select>
	
	<!-- 新增列处理 -->
	<sql id="sql_add_columns">
		<trim suffixOverrides=",">
			<if test="id != null">id,</if>
			<if test="time != null">time,</if>
			<if test="address != null">address,</if>
			<if test="subject != null">subject,</if>
			<if test="content != null">content,</if>
			<if test="mans != null">mans,</if>
			<if test="pdu != null">pdu,</if>
			<if test="project != null">project,</if>
			<if test="leader != null">leader,</if>
			<if test="createbody != null">createbody,</if>
			<if test="imgs != null">imgs,</if>
			<if test="status != null">status,</if>
			<if test="createtime != null">createtime,</if>
			<if test="updatetime != null">updatetime,</if>
			<if test="bak != null">bak,</if>
			<if test="approved != null">approved,</if>
			<if test="approveduser != null">approveduser,</if>
		</trim>
	</sql>

	<sql id="sql_add_properties">
		<trim suffixOverrides=",">
				<if test="id != null">#{id},</if>
				<if test="time != null">#{time},</if>
				<if test="address != null">#{address},</if>
				<if test="subject != null">#{subject},</if>
				<if test="content != null">#{content},</if>
				<if test="mans != null">#{mans},</if>
				<if test="pdu != null">#{pdu},</if>
				<if test="project != null">#{project},</if>
				<if test="leader != null">#{leader},</if>
				<if test="createbody != null">#{createbody},</if>
				<if test="imgs != null">#{imgs},</if>
				<if test="status != null">#{status},</if>
				<if test="createtime != null">#{createtime},</if>
				<if test="updatetime != null">#{updatetime},</if>
				<if test="bak != null">#{bak},</if>
				<if test="approved != null">#{approved},</if>
				<if test="approveduser != null">#{approveduser},</if>
		</trim>		
	</sql>
	
	<!-- 新增 -->
	<insert id="addGroupActivities" parameterType="com.isoftstone.humanresources.domain.GroupActivities">
		insert into t_group_activities(
			<include refid="sql_add_columns"/>
		)values(
			<include refid="sql_add_properties"/>
		)
	</insert>

	<!-- 编辑 -->
	<update id="updateGroupActivities" parameterType="com.isoftstone.humanresources.domain.GroupActivities">
		update t_group_activities record 
			<set>
				<trim suffixOverrides=",">
					<if test = "time != null ">
						record.time = #{time},
					</if>
					<if test = "address != null ">
						record.address = #{address},
					</if>
					<if test = "subject != null ">
						record.subject = #{subject},
					</if>
					<if test = "content != null ">
						record.content = #{content},
					</if>
					<if test = "mans != null ">
						record.mans = #{mans},
					</if>
					<if test = "pdu != null ">
						record.pdu = #{pdu},
					</if>
					<if test = "project != null ">
						record.project = #{project},
					</if>
					<if test = "leader != null ">
						record.leader = #{leader},
					</if>
					<if test = "createbody != null ">
						record.createbody = #{createbody},
					</if>
					<if test = "imgs != null ">
						record.imgs = #{imgs},
					</if>
					<if test = "status != null ">
						record.status = #{status},
					</if>
					<if test = "createtime != null ">
						record.createtime = #{createtime},
					</if>
					<if test = "updatetime != null ">
						record.updatetime = #{updatetime},
					</if>
					<if test = "approved != null ">
						record.approved = #{approved},
					</if>
					<if test = "bak != null ">
						record.bak = #{bak}
					</if>
				</trim>
			</set>
		where id = #{id}
	</update>
	
	<!-- 删除 -->
	<delete id="removeGroupActivitiesByIds" parameterType="java.util.List">
		delete from t_group_activities 
			where id in
			<foreach collection="list" open="(" separator="," close=")" item="code">
				#{code}
			</foreach>
	</delete>

	<delete id="removeGroupActivitiesById">
		delete from t_group_activities 
		<if test=" id != null ">
			where id = #{id}
		</if>
	</delete>
	
</mapper>
