<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.isoftstone.humanresources.dao.LuckDrawDao">
	<!-- 返回值映射map -->
	<resultMap id="luckDrawMapper" type="com.isoftstone.humanresources.domain.LuckDrawModel">
		<result property="employeeid" column="employeeID" />
		<result property="employeename" column="employeeName" />
		<result property="departmentname" column="departmentName" />
		<result property="createtime" column="createTime" />
		<result property="status" column="status" />
		<result property="ip" column="ip" />
		<result property="image" column="image" />
		<result property="bak" column="bak" />
	</resultMap>
	
	<!-- 查询数量公共sql -->
	<sql id="count_Tail">
		select count(1) from t_luck_draw record
	</sql>
	
	<!-- 分页公共sql -->
	<sql id="pagination_tail">
	  limit #{page.pageOffset} , #{page.pageSize}
	</sql>

	<!-- 查询字段公共sql -->
	<sql id="selectAllColumns">
	    SELECT 
	    <if test="queryFields != null ">
	 	     <trim prefix="" suffix="" suffixOverrides=",">
		        <foreach collection="queryFields" item="fi" index="index">
		          ${fi},
		        </foreach>
		      </trim> 	
	  	</if>
	    <if test="queryFields == null ">
	  		<![CDATA[
				 employeeID,
				 employeeName, 
				 departmentName, 
				 createTime, 
				 status, 
				 ip, 
				 image, 
				 bak 
			]]>
	  	</if>
	     FROM t_luck_draw record
	</sql>
	
	<sql id="where_fragement">
		<where> 
			<if test="entity!=null">
					<if test = "entity.employeeid != null and entity.employeeid != ''">
						<![CDATA[ and record.employeeID  = #{entity.employeeid} ]]>
					</if>
					<if test = "entity.employeename != null and entity.employeename != ''">
						<![CDATA[ and record.employeeName  = #{entity.employeename} ]]>
					</if>
					<if test = "entity.departmentname != null and entity.departmentname != ''">
						<![CDATA[ and record.departmentName  = #{entity.departmentname} ]]>
					</if>
					<if test = "entity.createtime != null and entity.createtime != ''">
						<![CDATA[ and record.createTime  = #{entity.createtime} ]]>
					</if>
					<if test = "entity.status != null and entity.status != ''">
						<![CDATA[ and record.status  = #{entity.status} ]]>
					</if>
					<if test = "entity.ip != null and entity.ip != ''">
						<![CDATA[ and record.ip  = #{entity.ip} ]]>
					</if>
					<if test = "entity.image != null and entity.image != ''">
						<![CDATA[ and record.image  = #{entity.image} ]]>
					</if>
					<if test = "entity.bak != null and entity.bak != ''">
						<![CDATA[ and record.bak  = #{entity.bak} ]]>
					</if>
			</if>
		</where>
	</sql>
	
	<sql id="time_sort">
		order by createTime desc
	</sql>

	<!-- 分页查询数据集合-->
	<select id="queryPageLuckDraw" resultMap="luckDrawMapper" >
		<include refid="selectAllColumns"/>
		<include refid="where_fragement" />
		<include refid="time_sort" />
		<if test="page!=null">
			<include refid="pagination_tail" />
		</if>
		
	</select>
	
	<!-- 不分页查询数据集合-->
	<select id="queryListLuckDraw" resultMap="luckDrawMapper" >
		select tl.employeeID,
				 tl.employeeName,
				 IFNULL(tl.departmentName,'未填写') as departmentName,
				 tl.createTime,
				 tl.status,
				 tl.ip,
				 tl.image,
				 tl.bak  from  t_employee te, t_luck_draw tl
			where te.employeeID = tl.employeeID and tl.status = '1'
	</select>
	
	<!-- 查询总数量 -->
	<select id="queryCountLuckDraw" resultType="long">
		<include refid="count_Tail"></include>
		<include refid="where_fragement"></include>
	</select>

	<!-- 查询单个实体 -->
	<select id="queryLuckDrawById" resultMap="luckDrawMapper" >
		<include refid="selectAllColumns"/>
		 where 
		 record.employeeID = #{id}
	</select>

	<!-- 查询单个实体 -->
	<select id="queryLuckDrawByName" resultType="int" >
		select count(1) from t_luck_draw
		where
		employeeName = #{employeeName}
	</select>
	
	<!-- 新增列处理 -->
	<sql id="sql_add_columns">
		<trim suffixOverrides=",">
			<if test="employeeid != null">employeeID,</if>
			<if test="employeename != null">employeeName,</if>
			<if test="departmentname != null">departmentName,</if>
			<if test="createtime != null">createTime,</if>
			<if test="status != null">status,</if>
			<if test="ip != null">ip,</if>
			<if test="image != null">image,</if>
			<if test="bak != null">bak,</if>
		</trim>
	</sql>

	<sql id="sql_add_properties">
		<trim suffixOverrides=",">
				<if test="employeeid != null">#{employeeid},</if>
				<if test="employeename != null">#{employeename},</if>
				<if test="departmentname != null">#{departmentname},</if>
				<if test="createtime != null">#{createtime},</if>
				<if test="status != null">#{status},</if>
				<if test="ip != null">#{ip},</if>
				<if test="image != null">#{image},</if>
				<if test="bak != null">#{bak},</if>
		</trim>		
	</sql>
	
	<!-- 新增 -->
	<insert id="addLuckDraw" parameterType="com.isoftstone.humanresources.domain.LuckDrawModel">
		replace into t_luck_draw(
			<include refid="sql_add_columns"/>
		)values(
			<include refid="sql_add_properties"/>
		)
	</insert>

	<!-- 编辑 -->
	<update id="updateLuckDraw" parameterType="com.isoftstone.humanresources.domain.LuckDrawModel">
		update t_luck_draw record 
			<set>
					<if test = "employeeid != null ">
						record.employeeID = #{employeeid},
					</if>
					<if test = "employeename != null ">
						record.employeeName = #{employeename},
					</if>
					<if test = "departmentname != null ">
						record.departmentName = #{departmentname},
					</if>
					<if test = "createtime != null ">
						record.createTime = #{createtime},
					</if>
					<if test = "status != null ">
						record.status = #{status},
					</if>
					<if test = "ip != null ">
						record.ip = #{ip},
					</if>
					<if test = "image != null ">
						record.image = #{image},
					</if>
					<if test = "bak != null ">
						record.bak = #{bak}
					</if>
			</set>
		where employeeID = #{employeeID}
	</update>
	
	<!-- 删除 -->
	<delete id="removeLuckDrawByIds" parameterType="java.util.List">
		delete from t_luck_draw 
			where employeeID in
			<foreach collection="list" open="(" separator="," close=")" item="code">
				#{code}
			</foreach>
	</delete>

	<delete id="removeLuckDrawById">
		delete from t_luck_draw 
		<if test=" id != null and id != ''">
			where employeeID = #{id}
		</if>
	</delete>
	
</mapper>
