<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.isoftstone.humanresources.dao.QuestionAnswerDao">
	<!-- 新增问题 -->
	<insert id="addQuestionAnswer"
		parameterType="com.isoftstone.humanresources.domain.QuestionAnswerInfomation">
		INSERT INTO
		T_QUESTION_ANSWER
		(
		job_number,
		question,
		detail,
		progress,
		imgURL,
		createTime,
		updateTime,
		bak
		)
		VALUES
		(
		#{jobNumber},
		#{question},
		#{detail},
		"noStart",
		#{imgURL},
		NOW(),
		NOW(),
		#{bak}
		)
	</insert>
	<!-- 查询问题列表 -->
	<select id="queryListQuestion"
		parameterType="com.isoftstone.humanresources.domain.questionanswer.QuestionAnswerRequest"
		resultType="com.isoftstone.humanresources.domain.QuestionAnswerInfomation">
		SELECT
		tq.id,
		tq.job_number as jobNumber,
		te.employeeName as jobName,
		tq.question,
		tq.detail,
		tq.progress,
		ts.configValue as progressName,
		tq.headPerson,
		t1.employeeName as headName,
		tq.imgURL,
		tq.createTime,
		tq.updateTime,
		tq.bak,
		tq.update_number as updateNumber,
		tee.employeeName as updatename
		FROM T_QUESTION_ANSWER tq
		left join t_employee te
		on te.employeeID =
		tq.job_number
		left join t_employee tee
		on tee.employeeID = tq.update_number
		left join t_employee t1
		on t1.employeeID = tq.headPerson
		left join t_system_config ts
		on ts.configName = tq.progress
		WHERE 1 = 1 and 
		CASE 
 		WHEN #{jobNumber} in (select configName from t_system_config where configType = 'headPerson') THEN 1 = 1
 		ELSE  tq.job_number  = #{jobNumber} END
		<if test="id != null and id > 0">
			and tq.id = #{id}
		</if>
		<if test="question != null and question != ''">
			and tq.question like CONCAT(CONCAT('%',#{question}),'%')
		</if>
		<if test="progress != null and progress != ''">
			and tq.progress = #{progress}
		</if>
		<if test="headPerson != null and headPerson != ''">
			and tq.headPerson = #{headPerson}
		</if>
		<if
			test="startTime != null and startTime != '' and endTime != null and endTime != '' ">
			AND unix_timestamp(tq.createTime)
			BETWEEN unix_timestamp(#{startTime})
			AND
			unix_timestamp(#{endTime})
		</if>
		order by tq.updateTime DESC
	</select>
	<!-- 修改问题 -->
	<update id="updateQuestionAnswer"
		parameterType="com.isoftstone.humanresources.domain.QuestionAnswerInfomation">
		UPDATE
		t_question_answer
		SET
		question = #{question},
		detail = #{detail},
		progress = #{progress},
		headPerson = #{headPerson},
		imgURL = #{imgURL},
		updateTime = NOW(),
		bak = #{bak},
		update_number = #{updateNumber}
		where
		id = #{id};
	</update>
</mapper>