<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.isoftstone.humanresources.dao.RecruitDao">
	<!-- 返回值映射map -->
	<resultMap id="userMapper" type="com.isoftstone.humanresources.domain.recruit.UserModel">
			<result property="username" column="username" />
			<result property="realname" column="realname" />
			<result property="status" column="status" />
			<result property="email" column="email" />
			<result property="inbusinessline" column="inbusinessline" />
			<result property="area" column="area" />
			<result property="cu" column="cu" />
			<result property="lastLgoinTime" column="lastLgoinTime" />
			<result property="userRole" column="userRole" />
	</resultMap>
	<resultMap id="requirementsMapper" type="com.isoftstone.humanresources.domain.recruit.RequirementModel">
		<result property="id" column="ID" />
		<result property="area" column="AREA" />
		<result property="costCenter" column="COST_CENTER" />
		<result property="businessLine" column="BUSINESS_LINE" />
		<result property="pdu" column="PDU" />
		<result property="projectManager" column="PROJECT_MANAGER" />
		<result property="skill" column="SKILL" />
		<result property="starttime" column="STARTTIME" />
		<result property="endtime" column="ENDTIME" />
		<result property="changetime" column="CHANGETIME" />
		<result property="starttimestr" column="starttimestr" />
		<result property="endtimestr" column="endtimestr" />
		<result property="changetimestr" column="changetimestr" />
		<result property="requirementsNum" column="REQUIREMENTS_NUM" />
		<result property="urgent" column="URGENT" />
		<result property="rStatus" column="R_STATUS" />
		<result property="projectType" column="PROJECT_TYPE" />
		<result property="officeSpace" column="OFFICE_SPACE" />
		<result property="interviewPrc" column="INTERVIEW_PRC" />
		<result property="skillReq" column="SKILL_REQ" />
		<result property="levelScope" column="LEVEL_SCOPE" />
		<result property="pType" column="P_TYPE" />
		<result property="projectName" column="PROJECT_NAME" />
		<result property="pmid" column="PMID" />
		<result property="prioritytype" column="priorityType" />
		<result property="approver" column="approver" />
		<result property="reject" column="reject" />
	</resultMap>

	<resultMap id="pduCostcenterMapper" type="com.isoftstone.humanresources.domain.recruit.PduCostcenterModel">
		<result property="id" column="ID" />
		<result property="businessLine" column="businessLine" />
		<result property="businesssoneline" column="businesssoneLine" />
		<result property="area" column="area" />
		<result property="costCenter" column="cost_center" />
		<result property="pdu" column="pdu" />
	</resultMap>
	<!-- 查询单个实体 -->
	<select id="getUserByUserNameAndPassword" resultMap="userMapper" >
		select username,realname,status,email,inbusinessline,area,cu,from_unixtime(lastLgoinTime, '%Y-%c-%d %H:%i:%s') as lastLgoinTime ,userRole
		from gts_cn.tbl_user_info
		where
		password = #{password} and  username=#{username}
	</select>

	<select id="queryListRequirements" resultMap="requirementsMapper" >
		SELECT
				 ID,
				 AREA,
				 COST_CENTER,
				 BUSINESS_LINE,
				 PDU,
				 PROJECT_MANAGER,
				 SKILL,
		from_unixtime(STARTTIME,'%Y-%m-%d') as starttimestr,
		from_unixtime(ENDTIME,'%Y-%m-%d') as endtimestr,
				 CHANGETIME,
				 REQUIREMENTS_NUM,
				 URGENT,
				 R_STATUS,
				 PROJECT_TYPE,
				 OFFICE_SPACE,
				 INTERVIEW_PRC,
				 SKILL_REQ,
				 LEVEL_SCOPE,
				 P_TYPE,
				 PROJECT_NAME,
				 PMID,
				 priorityType,
				 approver,
				 reject
		FROM gts_cn.tbl_requirements record
		where
			1=1
			and r_status =0
			<if test = "entity.area != null and entity.area.size >0  ">
				 and record.AREA in
				<foreach collection="entity.area" item="area" index="index" separator="," open="(" close=")">
					#{entity.area[${index}],jdbcType=VARCHAR }
				</foreach>
			</if>
			<if test = "entity.costCenter != null and entity.costCenter.size >0 ">
				and record.COST_CENTER in
				<foreach collection="entity.costCenter" item="costCenter" index="index" separator="," open="(" close=")">
					#{entity.costCenter[${index}],jdbcType=VARCHAR }
				</foreach>
			</if>
			<if test = "entity.businessLine != null and entity.businessLine != ''">
				<![CDATA[ and record.BUSINESS_LINE  = #{entity.businessLine} ]]>
			</if>
			<if test = "entity.pdu != null and entity.pdu.size >0">
				 and record.PDU  in
				<foreach collection="entity.pdu" item="pdu" index="index" separator="," open="(" close=")">
					#{entity.pdu[${index}],jdbcType=VARCHAR }
				</foreach>
			</if>
			<if test = "entity.projectManager != null and entity.projectManager.size >0 ">
				and record.PROJECT_MANAGER  in
				<foreach collection="entity.projectManager" item="projectManager" index="index" separator="," open="(" close=")">
					#{entity.projectManager[${index}],jdbcType=VARCHAR }
				</foreach>
			</if>
			<if test = "entity.skill != null and entity.skill.size >0 ">
				and record.SKILL in
				<foreach collection="entity.skill" item="skill" index="index" separator="," open="(" close=")">
					#{entity.skill[${index}],jdbcType=VARCHAR }
				</foreach>
			</if>
		order by starttime desc
	</select>

	<select id="queryDistinctParams" resultType="java.lang.String" >
		select distinct ${queryParam}
			from gts_cn.tbl_requirements
			where 1=1
				and r_status =0
	</select>


	<select id="queryPduCostcenter" resultType="java.lang.String" >
		SELECT
				distinct ${queryParam}
		FROM gts_cn.tbl_pdu_costcenter record
		<where>
		1=1
			<if test="entity!=null">
				<if test = "entity.businessLine != null and entity.businessLine != ''">
					<![CDATA[ and record.businessLine  = #{entity.businessLine} ]]>
				</if>
				<if test = "entity.businesssoneline != null and entity.businesssoneline != ''">
					<![CDATA[ and record.businesssoneLine  = #{entity.businesssoneline} ]]>
				</if>
				<if test = "entity.area != null and entity.area != ''">
					<![CDATA[ and record.area  = #{entity.area} ]]>
				</if>
				<if test = "entity.costCenter != null and entity.costCenter != ''">
					<![CDATA[ and record.cost_center  = #{entity.costCenter} ]]>
				</if>
				<if test = "entity.pdu != null and entity.pdu != ''">
					<![CDATA[ and record.pdu  = #{entity.pdu} ]]>
				</if>
			</if>
		</where>
	</select>

	<!-- 新增列处理 -->
	<sql id="sql_add_columns">
		<trim suffixOverrides=",">
			<if test="id != null">ID,</if>
			<if test="area != null">AREA,</if>
			<if test="costCenter != null">COST_CENTER,</if>
			<if test="businessLine != null">BUSINESS_LINE,</if>
			<if test="pdu != null">PDU,</if>
			<if test="projectManager != null">PROJECT_MANAGER,</if>
			<if test="skill != null">SKILL,</if>
			<if test="starttime != null">STARTTIME,</if>
			<if test="endtime != null">ENDTIME,</if>
			<if test="changetime != null">CHANGETIME,</if>
			<if test="requirementsNum != null">REQUIREMENTS_NUM,</if>
			<if test="urgent != null">URGENT,</if>
			<if test="rStatus != null">R_STATUS,</if>
			<if test="projectType != null">PROJECT_TYPE,</if>
			<if test="officeSpace != null">OFFICE_SPACE,</if>
			<if test="interviewPrc != null">INTERVIEW_PRC,</if>
			<if test="skillReq != null">SKILL_REQ,</if>
			<if test="levelScope != null">LEVEL_SCOPE,</if>
			<if test="pType != null">P_TYPE,</if>
			<if test="projectName != null">PROJECT_NAME,</if>
			<if test="pmid != null">PMID,</if>
			<if test="prioritytype != null">priorityType,</if>
			<if test="approver != null">approver,</if>
			<if test="reject != null">reject,</if>
		</trim>
	</sql>

	<sql id="sql_add_properties">
		<trim suffixOverrides=",">
			<if test="id != null">#{id},</if>
			<if test="area != null">#{area},</if>
			<if test="costCenter != null">#{costCenter},</if>
			<if test="businessLine != null">#{businessLine},</if>
			<if test="pdu != null">#{pdu},</if>
			<if test="projectManager != null">#{projectManager},</if>
			<if test="skill != null">#{skill},</if>
			<if test="starttime != null">#{starttime},</if>
			<if test="endtime != null">#{endtime},</if>
			<if test="changetime != null">#{changetime},</if>
			<if test="requirementsNum != null">#{requirementsNum},</if>
			<if test="urgent != null">#{urgent},</if>
			<if test="rStatus != null">#{rStatus},</if>
			<if test="projectType != null">#{projectType},</if>
			<if test="officeSpace != null">#{officeSpace},</if>
			<if test="interviewPrc != null">#{interviewPrc},</if>
			<if test="skillReq != null">#{skillReq},</if>
			<if test="levelScope != null">#{levelScope},</if>
			<if test="pType != null">#{pType},</if>
			<if test="projectName != null">#{projectName},</if>
			<if test="pmid != null">#{pmid},</if>
			<if test="prioritytype != null">#{prioritytype},</if>
			<if test="approver != null">#{approver},</if>
			<if test="reject != null">#{reject},</if>
		</trim>
	</sql>

	<!-- 新增 -->
	<insert id="addRequirements" parameterType="com.isoftstone.humanresources.domain.recruit.RequirementModel">
		replace into gts_cn.tbl_requirements(
		<include refid="sql_add_columns"/>
		)values(
		<include refid="sql_add_properties"/>
		)
	</insert>


</mapper>
