<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.isoftstone.humanresources.dao.TerminalInfoDao">
	<!-- 返回值映射map -->
	<resultMap id="terminalInfoMapper" type="com.isoftstone.humanresources.domain.workTime.TerminalInfoModel">
			<result property="id" column="id" />
			<result property="area" column="area" />
			<result property="terminalId" column="terminal_id" />
			<result property="shoreType" column="shore_type" />
			<result property="address" column="address" />
			<result property="status" column="status" />
			<result property="createTime" column="create_time" />
			<result property="bak" column="bak" />
	</resultMap>
	
	<!-- 查询数量公共sql -->
	<sql id="count_Tail">
		select count(1) from t_terminal_info record
	</sql>
	
	<!-- 分页公共sql -->
	<sql id="pagination_tail">
	  limit #{page.pageOffset} , #{page.pageSize}
	</sql>

	<!-- 查询字段公共sql -->
	<sql id="selectAllColumns">
	    SELECT 
	    <if test="queryFields != null ">
	 	     <trim prefix="" suffix="" suffixOverrides=",">
		        <foreach collection="queryFields" item="fi" index="index">
		          ${fi},
		        </foreach>
		      </trim> 	
	  	</if>
	    <if test="queryFields == null ">
	  		<![CDATA[
				 id, 
				 area, 
				 terminal_id, 
				 shore_type, 
				 address, 
				 status, 
				 create_time, 
				 bak 
			]]>
	  	</if>
	     FROM t_terminal_info record
	</sql>
	
	<sql id="where_fragement">
		<where> 
			<if test="entity!=null">
					<if test = "entity.id != null and entity.id != ''">
						<![CDATA[ and record.id  = #{entity.id} ]]>
					</if>
					<if test = "entity.area != null and entity.area != ''">
						<![CDATA[ and record.area  = #{entity.area} ]]>
					</if>
					<if test = "entity.terminalId != null and entity.terminalId != ''">
						<![CDATA[ and record.terminal_id  = #{entity.terminalId} ]]>
					</if>
					<if test = "entity.shoreType != null and entity.shoreType != ''">
						<![CDATA[ and record.shore_type  = #{entity.shoreType} ]]>
					</if>
					<if test = "entity.address != null and entity.address != ''">
						<![CDATA[ and record.address  = #{entity.address} ]]>
					</if>
					<if test = "entity.status != null and entity.status != ''">
						<![CDATA[ and record.status  = #{entity.status} ]]>
					</if>
					<if test = "entity.createTime != null and entity.createTime != ''">
						<![CDATA[ and record.create_time  = #{entity.createTime} ]]>
					</if>
					<if test = "entity.bak != null and entity.bak != ''">
						<![CDATA[ and record.bak  = #{entity.bak} ]]>
					</if>
			</if>
		</where>
	</sql>
	
	<sql id="time_sort">
		order by create_time desc
	</sql>

	<!-- 分页查询数据集合-->
	<select id="queryPageTerminalInfo" resultMap="terminalInfoMapper" >
		<include refid="selectAllColumns"/>
		<include refid="where_fragement" />
		<include refid="time_sort" />
		<if test="page!=null">
			<include refid="pagination_tail" />
		</if>
		
	</select>
	
	<!-- 不分页查询数据集合-->
	<select id="queryListTerminalInfo" resultMap="terminalInfoMapper" >
		<include refid="selectAllColumns"/>
		<include refid="where_fragement" />
		<include refid="time_sort" />
	</select>
	
	<!-- 查询总数量 -->
	<select id="queryCountTerminalInfo" resultType="long">
		<include refid="count_Tail"></include>
		<include refid="where_fragement"></include>
	</select>

	<!-- 查询单个实体 -->
	<select id="queryTerminalInfoById" resultMap="terminalInfoMapper" >
		<include refid="selectAllColumns"/>
		 where 
		 record.id = #{id}
	</select>
	
	<!-- 新增列处理 -->
	<sql id="sql_add_columns">
		<trim suffixOverrides=",">
			<if test="id != null">id,</if>
			<if test="area != null">area,</if>
			<if test="terminalId != null">terminal_id,</if>
			<if test="shoreType != null">shore_type,</if>
			<if test="address != null">address,</if>
			<if test="status != null">status,</if>
			<if test="createTime != null">create_time,</if>
			<if test="bak != null">bak,</if>
		</trim>
	</sql>

	<sql id="sql_add_properties">
		<trim suffixOverrides=",">
				<if test="id != null">#{id},</if>
				<if test="area != null">#{area},</if>
				<if test="terminalId != null">#{terminalId},</if>
				<if test="shoreType != null">#{shoreType},</if>
				<if test="address != null">#{address},</if>
				<if test="status != null">#{status},</if>
				<if test="createTime != null">#{createTime},</if>
				<if test="bak != null">#{bak},</if>
		</trim>		
	</sql>
	
	<!-- 新增 -->
	<insert id="addTerminalInfo" parameterType="com.isoftstone.humanresources.domain.workTime.TerminalInfoModel">
		insert into t_terminal_info(
			<include refid="sql_add_columns"/>
		)values(
			<include refid="sql_add_properties"/>
		)
	</insert>

	<!-- 编辑 -->
	<update id="updateTerminalInfo" parameterType="com.isoftstone.humanresources.domain.workTime.TerminalInfoModel">
		update t_terminal_info record 
			<set>
					<if test = "area != null ">
						record.area = #{area},
					</if>
					<if test = "terminalId != null ">
						record.terminal_id = #{terminalId},
					</if>
					<if test = "shoreType != null ">
						record.shore_type = #{shoreType},
					</if>
					<if test = "address != null ">
						record.address = #{address},
					</if>
					<if test = "status != null ">
						record.status = #{status},
					</if>
					<if test = "createTime != null ">
						record.create_time = #{createTime},
					</if>
					<if test = "bak != null ">
						record.bak = #{bak}
					</if>
			</set>
		where id = #{id}
	</update>
	
	<!-- 删除 -->
	<delete id="removeTerminalInfoByIds" parameterType="java.util.List">
		delete from t_terminal_info 
			where id in
			<foreach collection="list" open="(" separator="," close=")" item="code">
				#{code}
			</foreach>
	</delete>

	<delete id="removeTerminalInfoById">
		delete from t_terminal_info 
		<if test=" id != null and id != ''">
			where id = #{id}
		</if>
	</delete>
	
</mapper>
