<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.isoftstone.humanresources.dao.VisitDao">
	<!-- 返回值映射map -->
	<resultMap id="visitMapper" type="com.isoftstone.humanresources.domain.VisitModel">
			<result property="visitid" column="visitID" />
			<result property="players" column="players" />
			<result property="customers" column="customers" />
			<result property="content" column="content" />
			<result property="visitbegintime" column="visitBeginTime" />
			<result property="visitendtime" column="visitEndTime" />
			<result property="status" column="status" />
			<result property="creater" column="creater" />
			<result property="creattime" column="creatTime" />
			<result property="bak" column="bak" />
			<result property="address" column="address" />
	</resultMap>
	
	<!-- 查询数量公共sql -->
	<sql id="count_Tail">
		select count(1) from t_visit record
	</sql>
	
	<!-- 分页公共sql -->
	<sql id="pagination_tail">
	  limit #{page.pageOffset} , #{page.pageSize}
	</sql>

	<!-- 查询字段公共sql -->
	<sql id="selectAllColumns">
	    SELECT 
	    <if test="queryFields != null ">
	 	     <trim prefix="" suffix="" suffixOverrides=",">
		        <foreach collection="queryFields" item="fi" index="index">
		          ${fi},
		        </foreach>
		      </trim> 	
	  	</if>
	    <if test="queryFields == null ">
	  		<![CDATA[
				 visitID, 
				 players, 
				 customers, 
				 content, 
				 visitBeginTime, 
				 visitEndTime, 
				 status, 
				 creater, 
				 creatTime, 
				 bak ,
				 address
			]]>
	  	</if>
	     FROM t_visit record
	</sql>
	
	<sql id="where_fragement">
		<where> 
			<if test="entity!=null">
					<if test = "entity.visitid != null and entity.visitid != ''">
						<![CDATA[ and record.visitID  = #{entity.visitid} ]]>
					</if>
					<if test = "entity.players != null and entity.players != ''">
						<![CDATA[ and record.players  = #{entity.players} ]]>
					</if>
					<if test = "entity.customers != null and entity.customers != ''">
						<![CDATA[ and record.customers  = #{entity.customers} ]]>
					</if>
					<if test = "entity.content != null and entity.content != ''">
						<![CDATA[ and record.content  = #{entity.content} ]]>
					</if>
					<if test = "entity.visitbegintime != null and entity.visitbegintime != ''">
						<![CDATA[ and record.visitBeginTime  = #{entity.visitbegintime} ]]>
					</if>
					<if test = "entity.visitendtime != null and entity.visitendtime != ''">
						<![CDATA[ and record.visitEndTime  = #{entity.visitendtime} ]]>
					</if>
					<if test = "entity.status != null and entity.status != ''">
						<![CDATA[ and record.status  = #{entity.status} ]]>
					</if>
					<if test = "entity.creater != null and entity.creater != ''">
						<![CDATA[ and record.creater  = #{entity.creater} ]]>
					</if>
					<if test = "entity.creattime != null and entity.creattime != ''">
						<![CDATA[ and record.creatTime  = #{entity.creattime} ]]>
					</if>
					<if test = "entity.bak != null and entity.bak != ''">
						<![CDATA[ and record.bak  = #{entity.bak} ]]>
					</if>
					<if test = "entity.address != null and entity.address != ''">
						<![CDATA[ and record.address  = #{entity.address} ]]>
					</if>
			</if>
		</where>
	</sql>
	
	<!-- 分页查询数据集合-->
	<select id="queryPageVisit" resultMap="visitMapper" >
		<include refid="selectAllColumns"/>
		<include refid="where_fragement" />
		<if test="page!=null">
			<include refid="pagination_tail" />
		</if>
		
	</select>
	
	<!-- 不分页查询数据集合-->
	<select id="queryListVisit" resultMap="visitMapper" >
		<include refid="selectAllColumns"/>
		<include refid="where_fragement" />
	</select>
	
	<!-- 查询总数量 -->
	<select id="queryCountVisit" resultType="long">
		<include refid="count_Tail"></include>
		<include refid="where_fragement"></include>
	</select>

	<!-- 查询单个实体 -->
	<select id="queryVisitById" resultMap="visitMapper" >
		<include refid="selectAllColumns"/>
		 where 
		 record.visitID = #{id}
	</select>
	
	<!-- 新增列处理 -->
	<sql id="sql_add_columns">
		<trim suffixOverrides=",">
			<if test="visitid != null">visitID,</if>
			<if test="players != null">players,</if>
			<if test="customers != null">customers,</if>
			<if test="content != null">content,</if>
			<if test="visitbegintime != null">visitBeginTime,</if>
			<if test="visitendtime != null">visitEndTime,</if>
			<if test="status != null">status,</if>
			<if test="creater != null">creater,</if>
			<if test="creattime != null">creatTime,</if>
			<if test="bak != null">bak,</if>
			<if test="address != null">address,</if>
		</trim>
	</sql>

	<sql id="sql_add_properties">
		<trim suffixOverrides=",">
				<if test="visitid != null">#{visitid},</if>
				<if test="players != null">#{players},</if>
				<if test="customers != null">#{customers},</if>
				<if test="content != null">#{content},</if>
				<if test="visitbegintime != null">#{visitbegintime},</if>
				<if test="visitendtime != null">#{visitendtime},</if>
				<if test="status != null">#{status},</if>
				<if test="creater != null">#{creater},</if>
				<if test="creattime != null">#{creattime},</if>
				<if test="bak != null">#{bak},</if>
				<if test="address != null">#{address},</if>
		</trim>		
	</sql>
	
	<!-- 新增 -->
	<insert id="addVisit" parameterType="com.isoftstone.humanresources.domain.VisitModel">
		<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="visitid" >
				   select LAST_INSERT_ID()
		</selectKey>
		replace into t_visit(
			<include refid="sql_add_columns"/>
		)values(
			<include refid="sql_add_properties"/>
		)
	</insert>

	<!-- 编辑 -->
	<update id="updateVisit" parameterType="com.isoftstone.humanresources.domain.VisitModel">
		update t_visit record 
			<set>
					<if test = "visitid != null ">
						record.visitID = #{visitid},
					</if>
					<if test = "players != null ">
						record.players = #{players},
					</if>
					<if test = "customers != null ">
						record.customers = #{customers},
					</if>
					<if test = "content != null ">
						record.content = #{content},
					</if>
					<if test = "visitbegintime != null ">
						record.visitBeginTime = #{visitbegintime},
					</if>
					<if test = "visitendtime != null ">
						record.visitEndTime = #{visitendtime},
					</if>
					<if test = "status != null ">
						record.status = #{status},
					</if>
					<if test = "creater != null ">
						record.creater = #{creater},
					</if>
					<if test = "creattime != null ">
						record.creatTime = #{creattime},
					</if>
					<if test = "bak != null ">
						record.bak = #{bak}
					</if>
				<if test = "address != null ">
					record.address = #{address}
				</if>
			</set>
		where visitID = #{visitID}
	</update>
	
	<!-- 删除 -->
	<delete id="removeVisitByIds" parameterType="java.util.List">
		delete from t_visit 
			where visitID in
			<foreach collection="list" open="(" separator="," close=")" item="code">
				#{code}
			</foreach>
	</delete>

	<delete id="removeVisitById">
		delete from t_visit 
		<if test=" id != null and id != ''">
			where visitID = #{id}
		</if>
	</delete>
	
</mapper>
