<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.isoftstone.humanresources.dao.VisitLeavemsgDao">
	<!-- 返回值映射map -->
	<resultMap id="visitLeavemsgMapper" type="com.isoftstone.humanresources.domain.VisitLeavemsgModel">
			<result property="leaveid" column="leaveID" />
			<result property="visitid" column="visitID" />
			<result property="content" column="content" />
			<result property="priority" column="priority" />
			<result property="need" column="need" />
			<result property="resolvetime" column="resolveTime" />
			<result property="status" column="status" />
			<result property="creater" column="creater" />
			<result property="creattime" column="creatTime" />
	</resultMap>
	
	<!-- 查询数量公共sql -->
	<sql id="count_Tail">
		select count(1) from t_visit_leavemsg record
	</sql>
	
	<!-- 分页公共sql -->
	<sql id="pagination_tail">
	  limit #{page.pageOffset} , #{page.pageSize}
	</sql>

	<!-- 查询字段公共sql -->
	<sql id="selectAllColumns">
	    SELECT 
	    <if test="queryFields != null ">
	 	     <trim prefix="" suffix="" suffixOverrides=",">
		        <foreach collection="queryFields" item="fi" index="index">
		          ${fi},
		        </foreach>
		      </trim> 	
	  	</if>
	    <if test="queryFields == null ">
	  		<![CDATA[
				 leaveID, 
				 visitID, 
				 content, 
				 priority, 
				 need, 
				 resolveTime, 
				 status, 
				 creater, 
				 creatTime 
			]]>
	  	</if>
	     FROM t_visit_leavemsg record
	</sql>
	
	<sql id="where_fragement">
		<where> 
			<if test="entity!=null">
					<if test = "entity.leaveid != null and entity.leaveid != ''">
						<![CDATA[ and record.leaveID  = #{entity.leaveid} ]]>
					</if>
					<if test = "entity.visitid != null and entity.visitid != ''">
						<![CDATA[ and record.visitID  = #{entity.visitid} ]]>
					</if>
					<if test = "entity.content != null and entity.content != ''">
						<![CDATA[ and record.content  = #{entity.content} ]]>
					</if>
					<if test = "entity.priority != null and entity.priority != ''">
						<![CDATA[ and record.priority  = #{entity.priority} ]]>
					</if>
					<if test = "entity.need != null and entity.need != ''">
						<![CDATA[ and record.need  = #{entity.need} ]]>
					</if>
					<if test = "entity.resolvetime != null and entity.resolvetime != ''">
						<![CDATA[ and record.resolveTime  = #{entity.resolvetime} ]]>
					</if>
					<if test = "entity.status != null and entity.status != ''">
						<![CDATA[ and record.status  = #{entity.status} ]]>
					</if>
					<if test = "entity.creater != null and entity.creater != ''">
						<![CDATA[ and record.creater  = #{entity.creater} ]]>
					</if>
					<if test = "entity.creattime != null and entity.creattime != ''">
						<![CDATA[ and record.creatTime  = #{entity.creattime} ]]>
					</if>
			</if>
		</where>
	</sql>
	
	<sql id="time_sort">
		order by create_time desc
	</sql>

	<!-- 分页查询数据集合-->
	<select id="queryPageVisitLeavemsg" resultMap="visitLeavemsgMapper" >
		<include refid="selectAllColumns"/>
		<include refid="where_fragement" />
		<include refid="time_sort" />
		<if test="page!=null">
			<include refid="pagination_tail" />
		</if>
		
	</select>
	
	<!-- 不分页查询数据集合-->
	<select id="queryListVisitLeavemsg" resultMap="visitLeavemsgMapper" >
		<include refid="selectAllColumns"/>
		<include refid="where_fragement" />
		<include refid="time_sort" />
	</select>
	
	<!-- 查询总数量 -->
	<select id="queryCountVisitLeavemsg" resultType="long">
		<include refid="count_Tail"></include>
		<include refid="where_fragement"></include>
	</select>

	<!-- 查询单个实体 -->
	<select id="queryVisitLeavemsgById" resultMap="visitLeavemsgMapper" >
		<include refid="selectAllColumns"/>
		 where 
		 record.leaveID = #{id}
	</select>

	<!-- 查询单个实体 -->
	<select id="queryByVisitId" resultMap="visitLeavemsgMapper" >
		select leaveID,
				 visitID,
				 content,
				 priority,
				 need,
				 resolveTime,
				 status,
				 creater,
				 creatTime
		from t_visit_leavemsg
		where
		visitID = #{visitID}
	</select>
	
	<!-- 新增列处理 -->
	<sql id="sql_add_columns">
		<trim suffixOverrides=",">
			<if test="leaveid != null">leaveID,</if>
			<if test="visitid != null">visitID,</if>
			<if test="content != null">content,</if>
			<if test="priority != null">priority,</if>
			<if test="need != null">need,</if>
			<if test="resolvetime != null">resolveTime,</if>
			<if test="status != null">status,</if>
			<if test="creater != null">creater,</if>
			<if test="creattime != null">creatTime,</if>
		</trim>
	</sql>

	<sql id="sql_add_properties">
		<trim suffixOverrides=",">
				<if test="leaveid != null">#{leaveid},</if>
				<if test="visitid != null">#{visitid},</if>
				<if test="content != null">#{content},</if>
				<if test="priority != null">#{priority},</if>
				<if test="need != null">#{need},</if>
				<if test="resolvetime != null">#{resolvetime},</if>
				<if test="status != null">#{status},</if>
				<if test="creater != null">#{creater},</if>
				<if test="creattime != null">#{creattime},</if>
		</trim>		
	</sql>
	
	<!-- 新增 -->
	<insert id="addVisitLeavemsg" parameterType="com.isoftstone.humanresources.domain.VisitLeavemsgModel">
		replace into t_visit_leavemsg(
			<include refid="sql_add_columns"/>
		)values(
			<include refid="sql_add_properties"/>
		)
	</insert>

	<!-- 编辑 -->
	<update id="updateVisitLeavemsg" parameterType="com.isoftstone.humanresources.domain.VisitLeavemsgModel">
		update t_visit_leavemsg record 
			<set>
					<if test = "leaveid != null ">
						record.leaveID = #{leaveid},
					</if>
					<if test = "visitid != null ">
						record.visitID = #{visitid},
					</if>
					<if test = "content != null ">
						record.content = #{content},
					</if>
					<if test = "priority != null ">
						record.priority = #{priority},
					</if>
					<if test = "need != null ">
						record.need = #{need},
					</if>
					<if test = "resolvetime != null ">
						record.resolveTime = #{resolvetime},
					</if>
					<if test = "status != null ">
						record.status = #{status},
					</if>
					<if test = "creater != null ">
						record.creater = #{creater},
					</if>
					<if test = "creattime != null ">
						record.creatTime = #{creattime}
					</if>
			</set>
		where leaveID = #{leaveID}
	</update>
	
	<!-- 删除 -->
	<delete id="removeVisitLeavemsgByIds" parameterType="java.util.List">
		delete from t_visit_leavemsg 
			where leaveID in
			<foreach collection="list" open="(" separator="," close=")" item="code">
				#{code}
			</foreach>
	</delete>

	<delete id="removeVisitLeavemsgById">
		delete from t_visit_leavemsg 
		<if test=" id != null and id != ''">
			where leaveID = #{id}
		</if>
	</delete>
	
</mapper>
