<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.isoftstone.humanresources.dao.WarnDao" >
    <sql id="BASE_TABLE">
       t_warn_info
    </sql>

    <sql id="BASE_COLUMN">
       t.warnID,t.warnContent,t.warnStatus,t.handlerID,t.organizationID,t.warnTime,t.bak
    </sql>

    <resultMap id="warnInfo" type="com.isoftstone.humanresources.domain.screen.ScreenWarnEntity">
        <result column="warnID" jdbcType="VARCHAR" property="warnID" />
        <result column="warnContent" jdbcType="VARCHAR" property="warnContent" />
        <result column="warnStatus" jdbcType="VARCHAR" property="warnStatus" />
        <result column="handlerID" jdbcType="VARCHAR" property="handlerID" />
        <result column="handlerName" jdbcType="VARCHAR" property="handlerName" />
        <result column="organizationID" jdbcType="VARCHAR" property="organizationID" />
        <result column="organizationName" jdbcType="VARCHAR" property="organizationName" />
        <result column="warnTime" jdbcType="VARCHAR" property="warnTime" />
        <result column="bak" jdbcType="VARCHAR" property="bak" />
    </resultMap>

    <select id="queryWarnByOrganizationID" parameterType="String" resultMap="warnInfo">
        SELECT
         <include refid="BASE_COLUMN"/>,te.employeeName as handlerName,o1.organizationName
        FROM
        <include refid="BASE_TABLE"/> t
        LEFT JOIN t_employee te on t.handlerID=te.employeeID
        LEFT JOIN t_organization o1 on t.organizationID = o1.organizationID
        where t.organizationID in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="">
            #{item.organizationID, jdbcType=VARCHAR}
        </foreach>
    </select>

</mapper>