<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.isoftstone.humanresources.dao.WorkTimeDayIpsaDao">
	<!-- 返回值映射map -->
	<resultMap id="workTimeDayIpsaMapper" type="com.isoftstone.humanresources.domain.workTime.WorkTimeDayIpsaModel">
			<result property="employeeid" column="employeeID" />
			<result property="employeename" column="employeeName" />
			<result property="workarea" column="workArea" />
			<result property="workstatus" column="workStatus" />
			<result property="personalstatus" column="personalStatus" />
			<result property="daycount" column="dayCount" />
			<result property="workday" column="workDay" />
			<result property="daycatagray" column="dayCatagray" />
			<result property="firstrecordtime" column="firstRecordTime" />
			<result property="lastrecordtime" column="lastRecordTime" />
			<result property="actualtimes" column="actualTimes" />
			<result property="holidaytimes" column="holidayTimes" />
			<result property="outworktimes" column="outWorkTimes" />
			<result property="absenteeismtimes" column="absenteeismTimes" />
			<result property="workbadtimes" column="workBadTimes" />
			<result property="penalizetimes" column="penalizeTimes" />
			<result property="latetimes" column="lateTimes" />
			<result property="overtimes" column="overtimes" />
			<result property="extendtimes" column="extendTimes" />
			<result property="annualleave" column="annualLeave" />
			<result property="resttimes" column="restTimes" />
			<result property="marriageleave" column="marriageLeave" />
			<result property="maternityleave" column="maternityLeave" />
			<result property="paternityleave" column="paternityLeave" />
			<result property="breastfeeding" column="breastFeeding" />
			<result property="sickleave" column="sickLeave" />
			<result property="funeralleave" column="funeralLeave" />
			<result property="personalleave" column="personalLeave" />
			<result property="overtimeresttimes" column="overtimeRestTimes" />
			<result property="outsidetimes" column="outsideTimes" />
			<result property="copcatagray" column="copCatagray" />
			<result property="copmodel" column="copModel" />
			<result property="monthinshore" column="monthInShore" />
			<result property="daybringpcoutshore" column="dayBringPcOutShore" />
			<result property="cu" column="cu" />
	</resultMap>
	
	<!-- 查询数量公共sql -->
	<sql id="count_Tail">
		select count(1) from t_work_time_day_ipsa record
	</sql>
	
	<!-- 分页公共sql -->
	<sql id="pagination_tail">
	  limit #{page.pageOffset} , #{page.pageSize}
	</sql>

	<!-- 查询字段公共sql -->
	<sql id="selectAllColumns">
	    SELECT 
	    <if test="queryFields != null ">
	 	     <trim prefix="" suffix="" suffixOverrides=",">
		        <foreach collection="queryFields" item="fi" index="index">
		          ${fi},
		        </foreach>
		      </trim> 	
	  	</if>
	    <if test="queryFields == null ">
	  		<![CDATA[
				 employeeID, 
				 employeeName, 
				 workArea, 
				 workStatus, 
				 personalStatus, 
				 dayCount, 
				 workDay, 
				 dayCatagray, 
				 firstRecordTime, 
				 lastRecordTime, 
				 actualTimes, 
				 holidayTimes, 
				 outWorkTimes, 
				 absenteeismTimes, 
				 workBadTimes, 
				 penalizeTimes, 
				 lateTimes, 
				 overtimes, 
				 extendTimes, 
				 annualLeave, 
				 restTimes, 
				 marriageLeave, 
				 maternityLeave, 
				 paternityLeave, 
				 breastFeeding, 
				 sickLeave, 
				 funeralLeave, 
				 personalLeave, 
				 overtimeRestTimes, 
				 outsideTimes, 
				 copCatagray, 
				 copModel, 
				 monthInShore, 
				 dayBringPcOutShore, 
				 cu 
			]]>
	  	</if>
	     FROM t_work_time_day_ipsa record
	</sql>
	
	<sql id="where_fragement">
		<where> 
			<if test="entity!=null">
					<if test = "entity.employeeid != null and entity.employeeid != ''">
						<![CDATA[ and record.employeeID  = #{entity.employeeid} ]]>
					</if>
					<if test = "entity.employeename != null and entity.employeename != ''">
						<![CDATA[ and record.employeeName  = #{entity.employeename} ]]>
					</if>
					<if test = "entity.workarea != null and entity.workarea != ''">
						<![CDATA[ and record.workArea  = #{entity.workarea} ]]>
					</if>
					<if test = "entity.workstatus != null and entity.workstatus != ''">
						<![CDATA[ and record.workStatus  = #{entity.workstatus} ]]>
					</if>
					<if test = "entity.personalstatus != null and entity.personalstatus != ''">
						<![CDATA[ and record.personalStatus  = #{entity.personalstatus} ]]>
					</if>
					<if test = "entity.daycount != null and entity.daycount != ''">
						<![CDATA[ and record.dayCount  = #{entity.daycount} ]]>
					</if>
					<if test = "entity.workday != null and entity.workday != ''">
						<![CDATA[ and record.workDay  = #{entity.workday} ]]>
					</if>
					<if test = "entity.daycatagray != null and entity.daycatagray != ''">
						<![CDATA[ and record.dayCatagray  = #{entity.daycatagray} ]]>
					</if>
					<if test = "entity.firstrecordtime != null and entity.firstrecordtime != ''">
						<![CDATA[ and record.firstRecordTime  = #{entity.firstrecordtime} ]]>
					</if>
					<if test = "entity.lastrecordtime != null and entity.lastrecordtime != ''">
						<![CDATA[ and record.lastRecordTime  = #{entity.lastrecordtime} ]]>
					</if>
					<if test = "entity.actualtimes != null and entity.actualtimes != ''">
						<![CDATA[ and record.actualTimes  = #{entity.actualtimes} ]]>
					</if>
					<if test = "entity.holidaytimes != null and entity.holidaytimes != ''">
						<![CDATA[ and record.holidayTimes  = #{entity.holidaytimes} ]]>
					</if>
					<if test = "entity.outworktimes != null and entity.outworktimes != ''">
						<![CDATA[ and record.outWorkTimes  = #{entity.outworktimes} ]]>
					</if>
					<if test = "entity.absenteeismtimes != null and entity.absenteeismtimes != ''">
						<![CDATA[ and record.absenteeismTimes  = #{entity.absenteeismtimes} ]]>
					</if>
					<if test = "entity.workbadtimes != null and entity.workbadtimes != ''">
						<![CDATA[ and record.workBadTimes  = #{entity.workbadtimes} ]]>
					</if>
					<if test = "entity.penalizetimes != null and entity.penalizetimes != ''">
						<![CDATA[ and record.penalizeTimes  = #{entity.penalizetimes} ]]>
					</if>
					<if test = "entity.latetimes != null and entity.latetimes != ''">
						<![CDATA[ and record.lateTimes  = #{entity.latetimes} ]]>
					</if>
					<if test = "entity.overtimes != null and entity.overtimes != ''">
						<![CDATA[ and record.overtimes  = #{entity.overtimes} ]]>
					</if>
					<if test = "entity.extendtimes != null and entity.extendtimes != ''">
						<![CDATA[ and record.extendTimes  = #{entity.extendtimes} ]]>
					</if>
					<if test = "entity.annualleave != null and entity.annualleave != ''">
						<![CDATA[ and record.annualLeave  = #{entity.annualleave} ]]>
					</if>
					<if test = "entity.resttimes != null and entity.resttimes != ''">
						<![CDATA[ and record.restTimes  = #{entity.resttimes} ]]>
					</if>
					<if test = "entity.marriageleave != null and entity.marriageleave != ''">
						<![CDATA[ and record.marriageLeave  = #{entity.marriageleave} ]]>
					</if>
					<if test = "entity.maternityleave != null and entity.maternityleave != ''">
						<![CDATA[ and record.maternityLeave  = #{entity.maternityleave} ]]>
					</if>
					<if test = "entity.paternityleave != null and entity.paternityleave != ''">
						<![CDATA[ and record.paternityLeave  = #{entity.paternityleave} ]]>
					</if>
					<if test = "entity.breastfeeding != null and entity.breastfeeding != ''">
						<![CDATA[ and record.breastFeeding  = #{entity.breastfeeding} ]]>
					</if>
					<if test = "entity.sickleave != null and entity.sickleave != ''">
						<![CDATA[ and record.sickLeave  = #{entity.sickleave} ]]>
					</if>
					<if test = "entity.funeralleave != null and entity.funeralleave != ''">
						<![CDATA[ and record.funeralLeave  = #{entity.funeralleave} ]]>
					</if>
					<if test = "entity.personalleave != null and entity.personalleave != ''">
						<![CDATA[ and record.personalLeave  = #{entity.personalleave} ]]>
					</if>
					<if test = "entity.overtimeresttimes != null and entity.overtimeresttimes != ''">
						<![CDATA[ and record.overtimeRestTimes  = #{entity.overtimeresttimes} ]]>
					</if>
					<if test = "entity.outsidetimes != null and entity.outsidetimes != ''">
						<![CDATA[ and record.outsideTimes  = #{entity.outsidetimes} ]]>
					</if>
					<if test = "entity.copcatagray != null and entity.copcatagray != ''">
						<![CDATA[ and record.copCatagray  = #{entity.copcatagray} ]]>
					</if>
					<if test = "entity.copmodel != null and entity.copmodel != ''">
						<![CDATA[ and record.copModel  = #{entity.copmodel} ]]>
					</if>
					<if test = "entity.monthinshore != null and entity.monthinshore != ''">
						<![CDATA[ and record.monthInShore  = #{entity.monthinshore} ]]>
					</if>
					<if test = "entity.daybringpcoutshore != null and entity.daybringpcoutshore != ''">
						<![CDATA[ and record.dayBringPcOutShore  = #{entity.daybringpcoutshore} ]]>
					</if>
					<if test = "entity.cu != null and entity.cu != ''">
						<![CDATA[ and record.cu  = #{entity.cu} ]]>
					</if>
			</if>
		</where>
	</sql>
	
	<sql id="time_sort">
		order by create_time desc
	</sql>

	<!-- 分页查询数据集合-->
	<select id="queryPageWorkTimeDayIpsa" resultMap="workTimeDayIpsaMapper" >
		<include refid="selectAllColumns"/>
		<include refid="where_fragement" />
		<include refid="time_sort" />
		<if test="page!=null">
			<include refid="pagination_tail" />
		</if>
		
	</select>
	
	<!-- 不分页查询数据集合-->
	<select id="queryListWorkTimeDayIpsa" resultMap="workTimeDayIpsaMapper" >
		<include refid="selectAllColumns"/>
		<include refid="where_fragement" />
		<include refid="time_sort" />
	</select>
	
	<!-- 查询总数量 -->
	<select id="queryCountWorkTimeDayIpsa" resultType="long">
		<include refid="count_Tail"></include>
		<include refid="where_fragement"></include>
	</select>

	<!-- 查询单个实体 -->
	<select id="queryWorkTimeDayIpsaById" resultMap="workTimeDayIpsaMapper" >
		<include refid="selectAllColumns"/>
		 where 
		 record.employeeID = #{id}
	</select>
	
	<!-- 新增列处理 -->
	<sql id="sql_add_columns">
		<trim suffixOverrides=",">
			<if test="employeeid != null">employeeID,</if>
			<if test="employeename != null">employeeName,</if>
			<if test="workarea != null">workArea,</if>
			<if test="workstatus != null">workStatus,</if>
			<if test="personalstatus != null">personalStatus,</if>
			<if test="daycount != null">dayCount,</if>
			<if test="workday != null">workDay,</if>
			<if test="daycatagray != null">dayCatagray,</if>
			<if test="firstrecordtime != null">firstRecordTime,</if>
			<if test="lastrecordtime != null">lastRecordTime,</if>
			<if test="actualtimes != null">actualTimes,</if>
			<if test="holidaytimes != null">holidayTimes,</if>
			<if test="outworktimes != null">outWorkTimes,</if>
			<if test="absenteeismtimes != null">absenteeismTimes,</if>
			<if test="workbadtimes != null">workBadTimes,</if>
			<if test="penalizetimes != null">penalizeTimes,</if>
			<if test="latetimes != null">lateTimes,</if>
			<if test="overtimes != null">overtimes,</if>
			<if test="extendtimes != null">extendTimes,</if>
			<if test="annualleave != null">annualLeave,</if>
			<if test="resttimes != null">restTimes,</if>
			<if test="marriageleave != null">marriageLeave,</if>
			<if test="maternityleave != null">maternityLeave,</if>
			<if test="paternityleave != null">paternityLeave,</if>
			<if test="breastfeeding != null">breastFeeding,</if>
			<if test="sickleave != null">sickLeave,</if>
			<if test="funeralleave != null">funeralLeave,</if>
			<if test="personalleave != null">personalLeave,</if>
			<if test="overtimeresttimes != null">overtimeRestTimes,</if>
			<if test="outsidetimes != null">outsideTimes,</if>
			<if test="copcatagray != null">copCatagray,</if>
			<if test="copmodel != null">copModel,</if>
			<if test="monthinshore != null">monthInShore,</if>
			<if test="daybringpcoutshore != null">dayBringPcOutShore,</if>
			<if test="cu != null">cu,</if>
		</trim>
	</sql>

	<sql id="sql_add_properties">
		<trim suffixOverrides=",">
				<if test="employeeid != null">#{employeeid},</if>
				<if test="employeename != null">#{employeename},</if>
				<if test="workarea != null">#{workarea},</if>
				<if test="workstatus != null">#{workstatus},</if>
				<if test="personalstatus != null">#{personalstatus},</if>
				<if test="daycount != null">#{daycount},</if>
				<if test="workday != null">#{workday},</if>
				<if test="daycatagray != null">#{daycatagray},</if>
				<if test="firstrecordtime != null">#{firstrecordtime},</if>
				<if test="lastrecordtime != null">#{lastrecordtime},</if>
				<if test="actualtimes != null">#{actualtimes},</if>
				<if test="holidaytimes != null">#{holidaytimes},</if>
				<if test="outworktimes != null">#{outworktimes},</if>
				<if test="absenteeismtimes != null">#{absenteeismtimes},</if>
				<if test="workbadtimes != null">#{workbadtimes},</if>
				<if test="penalizetimes != null">#{penalizetimes},</if>
				<if test="latetimes != null">#{latetimes},</if>
				<if test="overtimes != null">#{overtimes},</if>
				<if test="extendtimes != null">#{extendtimes},</if>
				<if test="annualleave != null">#{annualleave},</if>
				<if test="resttimes != null">#{resttimes},</if>
				<if test="marriageleave != null">#{marriageleave},</if>
				<if test="maternityleave != null">#{maternityleave},</if>
				<if test="paternityleave != null">#{paternityleave},</if>
				<if test="breastfeeding != null">#{breastfeeding},</if>
				<if test="sickleave != null">#{sickleave},</if>
				<if test="funeralleave != null">#{funeralleave},</if>
				<if test="personalleave != null">#{personalleave},</if>
				<if test="overtimeresttimes != null">#{overtimeresttimes},</if>
				<if test="outsidetimes != null">#{outsidetimes},</if>
				<if test="copcatagray != null">#{copcatagray},</if>
				<if test="copmodel != null">#{copmodel},</if>
				<if test="monthinshore != null">#{monthinshore},</if>
				<if test="daybringpcoutshore != null">#{daybringpcoutshore},</if>
				<if test="cu != null">#{cu},</if>
		</trim>		
	</sql>
	
	<!-- 新增 -->
	<insert id="addWorkTimeDayIpsa" parameterType="com.isoftstone.humanresources.domain.workTime.WorkTimeDayIpsaModel">
		insert into t_work_time_day_ipsa(
			<include refid="sql_add_columns"/>
		)values(
			<include refid="sql_add_properties"/>
		)
	</insert>


	<sql id="BASE_COLUMN">
		 employeeID,
		 employeeName,
		 cardID,
		 workArea,
		 workStatus,
		 personalStatus,
		 dayCount,
		 workDay,
		 dayCatagray,
		 firstRecordPlace,
		 firstRecordTime,
		 lastRecordPlace,
		 lastRecordTime,
		 actualTimes,
		 businessTimes,
		 holidayTimes,
		 outWorkTimes,
		 absenteeismTimes,
		 workBadTimes,
		 penalizeTimes,
		 lateTimes,
		 overtimes,
		 extendTimes,
		 annualLeave,
		 restTimes,
		 marriageLeave,
		 maternityLeave,
		 paternityLeave,
		 breastFeeding,
		 sickLeave,
		 funeralLeave,
		 personalLeave,
		 overtimeRestTimes,
		 outsideTimes,
		 copCatagray,
		 copModel,
		 monthInShore,
		 dayBringPcOutShore,
		 cu
	</sql>

	<insert id="importWorkTimeDay" parameterType="java.util.List">
		insert into
		t_work_time_day_ipsa
		(
		<include refid="BASE_COLUMN"></include>
		)
		values
		<if test="null != dayTimeList and dayTimeList.size() > 0">
			<foreach collection="dayTimeList" item="item" index="index" separator=",">
				(
				#{item.employeeid},
				#{item.employeename},
				#{item.cardid},
				#{item.workarea},
				#{item.workstatus},
				#{item.personalstatus},
				#{item.daycount},
				#{item.workday},
				#{item.daycatagray},
				#{item.firstrecordPlace},
				#{item.firstrecordtime},
				#{item.lastRecordPlace},
				#{item.lastrecordtime},
				#{item.actualtimes},
				#{item.businessTimes},
				#{item.holidaytimes},
				#{item.outworktimes},
				#{item.absenteeismtimes},
				#{item.workbadtimes},
				#{item.penalizetimes},
				#{item.latetimes},
				#{item.overtimes},
				#{item.extendtimes},
				#{item.annualleave},
				#{item.resttimes},
				#{item.marriageleave},
				#{item.maternityleave},
				#{item.paternityleave},
				#{item.breastfeeding},
				#{item.sickleave},
				#{item.funeralleave},
				#{item.personalleave},
				#{item.overtimeresttimes},
				#{item.outsidetimes},
				#{item.copcatagray},
				#{item.copmodel},
				#{item.monthinshore},
				#{item.daybringpcoutshore},
				#{item.cu}
				)
			</foreach>
		</if>
	</insert>


	<!-- 编辑 -->
	<update id="updateWorkTimeDayIpsa" parameterType="com.isoftstone.humanresources.domain.workTime.WorkTimeDayIpsaModel">
		update t_work_time_day_ipsa record 
			<set>
					<if test = "employeeid != null ">
						record.employeeID = #{employeeid},
					</if>
					<if test = "employeename != null ">
						record.employeeName = #{employeename},
					</if>
					<if test = "workarea != null ">
						record.workArea = #{workarea},
					</if>
					<if test = "workstatus != null ">
						record.workStatus = #{workstatus},
					</if>
					<if test = "personalstatus != null ">
						record.personalStatus = #{personalstatus},
					</if>
					<if test = "daycount != null ">
						record.dayCount = #{daycount},
					</if>
					<if test = "workday != null ">
						record.workDay = #{workday},
					</if>
					<if test = "daycatagray != null ">
						record.dayCatagray = #{daycatagray},
					</if>
					<if test = "firstrecordtime != null ">
						record.firstRecordTime = #{firstrecordtime},
					</if>
					<if test = "lastrecordtime != null ">
						record.lastRecordTime = #{lastrecordtime},
					</if>
					<if test = "actualtimes != null ">
						record.actualTimes = #{actualtimes},
					</if>
					<if test = "holidaytimes != null ">
						record.holidayTimes = #{holidaytimes},
					</if>
					<if test = "outworktimes != null ">
						record.outWorkTimes = #{outworktimes},
					</if>
					<if test = "absenteeismtimes != null ">
						record.absenteeismTimes = #{absenteeismtimes},
					</if>
					<if test = "workbadtimes != null ">
						record.workBadTimes = #{workbadtimes},
					</if>
					<if test = "penalizetimes != null ">
						record.penalizeTimes = #{penalizetimes},
					</if>
					<if test = "latetimes != null ">
						record.lateTimes = #{latetimes},
					</if>
					<if test = "overtimes != null ">
						record.overtimes = #{overtimes},
					</if>
					<if test = "extendtimes != null ">
						record.extendTimes = #{extendtimes},
					</if>
					<if test = "annualleave != null ">
						record.annualLeave = #{annualleave},
					</if>
					<if test = "resttimes != null ">
						record.restTimes = #{resttimes},
					</if>
					<if test = "marriageleave != null ">
						record.marriageLeave = #{marriageleave},
					</if>
					<if test = "maternityleave != null ">
						record.maternityLeave = #{maternityleave},
					</if>
					<if test = "paternityleave != null ">
						record.paternityLeave = #{paternityleave},
					</if>
					<if test = "breastfeeding != null ">
						record.breastFeeding = #{breastfeeding},
					</if>
					<if test = "sickleave != null ">
						record.sickLeave = #{sickleave},
					</if>
					<if test = "funeralleave != null ">
						record.funeralLeave = #{funeralleave},
					</if>
					<if test = "personalleave != null ">
						record.personalLeave = #{personalleave},
					</if>
					<if test = "overtimeresttimes != null ">
						record.overtimeRestTimes = #{overtimeresttimes},
					</if>
					<if test = "outsidetimes != null ">
						record.outsideTimes = #{outsidetimes},
					</if>
					<if test = "copcatagray != null ">
						record.copCatagray = #{copcatagray},
					</if>
					<if test = "copmodel != null ">
						record.copModel = #{copmodel},
					</if>
					<if test = "monthinshore != null ">
						record.monthInShore = #{monthinshore},
					</if>
					<if test = "daybringpcoutshore != null ">
						record.dayBringPcOutShore = #{daybringpcoutshore},
					</if>
					<if test = "cu != null ">
						record.cu = #{cu}
					</if>
			</set>
		where employeeID = #{employeeID}
	</update>
	
	<!-- 删除 -->
	<delete id="removeWorkTimeDayIpsaByIds" parameterType="java.util.List">
		delete from t_work_time_day_ipsa 
			where employeeID in
			<foreach collection="list" open="(" separator="," close=")" item="code">
				#{code}
			</foreach>
	</delete>

	<delete id="removeWorkTimeDayIpsaById">
		delete from t_work_time_day_ipsa 
		<if test=" id != null and id != ''">
			where employeeID = #{id}
		</if>
	</delete>
	
</mapper>
