<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.isoftstone.humanresources.dao.WorkTimeDayOmpDao">
	<!-- 返回值映射map -->
	<resultMap id="workTimeDayOmpMapper" type="com.isoftstone.humanresources.domain.workTime.WorkTimeDayOmpModel">
		<result property="employeeid" column="employeeID" />
		<result property="employeename" column="employeeName" />
		<result property="cardid" column="cardID" />
		<result property="workday" column="workDay" />
		<result property="workcatagray" column="workCatagray" />
		<result property="po" column="po" />
		<result property="personstatus" column="personStatus" />
		<result property="actualtimes" column="actualTimes" />
		<result property="holidaytimes" column="holidayTimes" />
		<result property="absenteeismtimes" column="absenteeismTimes" />
		<result property="penalizetimes" column="penalizeTimes" />
		<result property="overtimes" column="overtimes" />
		<result property="extendtimes" column="extendTimes" />
		<result property="copcatagray" column="copCatagray" />
		<result property="copmodel" column="copModel" />
		<result property="monthinshore" column="monthInShore" />
		<result property="shoreMsg" column="shoreMsg" />
		<result property="signMsg" column="signMsg" />
		<result property="terminalIds" column="terminalIds" />
		<result property="bak" column="bak" />
	</resultMap>
	
	<!-- 查询数量公共sql -->
	<sql id="count_Tail">
		select count(1) from t_work_time_day_omp record
	</sql>
	
	<!-- 分页公共sql -->
	<sql id="pagination_tail">
	  limit #{page.pageOffset} , #{page.pageSize}
	</sql>

	<!-- 查询字段公共sql -->
	<sql id="selectAllColumns">
	    SELECT 
	    <if test="queryFields != null ">
	 	     <trim prefix="" suffix="" suffixOverrides=",">
		        <foreach collection="queryFields" item="fi" index="index">
		          ${fi},
		        </foreach>
		      </trim> 	
	  	</if>
	    <if test="queryFields == null ">
	  		<![CDATA[
				 employeeID, 
				 employeeName, 
				 cardID, 
				 workDay, 
				 workCatagray, 
				 po, 
				 personStatus, 
				 actualTimes, 
				 holidayTimes, 
				 absenteeismTimes, 
				 penalizeTimes, 
				 overtimes, 
				 extendTimes, 
				 copCatagray, 
				 copModel, 
				 monthInShore 
			]]>
	  	</if>
	     FROM t_work_time_day_omp record
	</sql>
	
	<sql id="where_fragement">
		<where> 
			<if test="entity!=null">
					<if test = "entity.employeeid != null and entity.employeeid != ''">
						<![CDATA[ and record.employeeID  = #{entity.employeeid} ]]>
					</if>
					<if test = "entity.employeename != null and entity.employeename != ''">
						<![CDATA[ and record.employeeName  = #{entity.employeename} ]]>
					</if>
					<if test = "entity.cardid != null and entity.cardid != ''">
						<![CDATA[ and record.cardID  = #{entity.cardid} ]]>
					</if>
					<if test = "entity.workday != null and entity.workday != ''">
						<![CDATA[ and record.workDay  = #{entity.workday} ]]>
					</if>
					<if test = "entity.workcatagray != null and entity.workcatagray != ''">
						<![CDATA[ and record.workCatagray  = #{entity.workcatagray} ]]>
					</if>
					<if test = "entity.po != null and entity.po != ''">
						<![CDATA[ and record.po  = #{entity.po} ]]>
					</if>
					<if test = "entity.personstatus != null and entity.personstatus != ''">
						<![CDATA[ and record.personStatus  = #{entity.personstatus} ]]>
					</if>
					<if test = "entity.actualtimes != null and entity.actualtimes != ''">
						<![CDATA[ and record.actualTimes  = #{entity.actualtimes} ]]>
					</if>
					<if test = "entity.holidaytimes != null and entity.holidaytimes != ''">
						<![CDATA[ and record.holidayTimes  = #{entity.holidaytimes} ]]>
					</if>
					<if test = "entity.absenteeismtimes != null and entity.absenteeismtimes != ''">
						<![CDATA[ and record.absenteeismTimes  = #{entity.absenteeismtimes} ]]>
					</if>
					<if test = "entity.penalizetimes != null and entity.penalizetimes != ''">
						<![CDATA[ and record.penalizeTimes  = #{entity.penalizetimes} ]]>
					</if>
					<if test = "entity.overtimes != null and entity.overtimes != ''">
						<![CDATA[ and record.overtimes  = #{entity.overtimes} ]]>
					</if>
					<if test = "entity.extendtimes != null and entity.extendtimes != ''">
						<![CDATA[ and record.extendTimes  = #{entity.extendtimes} ]]>
					</if>
					<if test = "entity.copcatagray != null and entity.copcatagray != ''">
						<![CDATA[ and record.copCatagray  = #{entity.copcatagray} ]]>
					</if>
					<if test = "entity.copmodel != null and entity.copmodel != ''">
						<![CDATA[ and record.copModel  = #{entity.copmodel} ]]>
					</if>
					<if test = "entity.monthinshore != null and entity.monthinshore != ''">
						<![CDATA[ and record.monthInShore  = #{entity.monthinshore} ]]>
					</if>
			</if>
		</where>
	</sql>
	
	<sql id="time_sort">
		order by create_time desc
	</sql>

	<!-- 分页查询数据集合-->
	<select id="queryPageWorkTimeDayOmp" resultMap="workTimeDayOmpMapper" >
		<include refid="selectAllColumns"/>
		<include refid="where_fragement" />
		<include refid="time_sort" />
		<if test="page!=null">
			<include refid="pagination_tail" />
		</if>
		
	</select>
	
	<!-- 不分页查询数据集合-->
	<select id="queryListWorkTimeDayOmp" resultMap="workTimeDayOmpMapper" >
		<include refid="selectAllColumns"/>
		<include refid="where_fragement" />
		<include refid="time_sort" />
	</select>

	<!-- 查询总数量 -->
	<select id="queryCountWorkTimeDayOmp" resultType="long">
		<include refid="count_Tail"></include>
		<include refid="where_fragement"></include>
	</select>

	<!-- 查询单个实体 -->
	<select id="queryWorkTimeDayOmpById" resultMap="workTimeDayOmpMapper" >
		<include refid="selectAllColumns"/>
		 where 
		 record.employeeID = #{id}
	</select>
	
	<!-- 新增列处理 -->
	<sql id="sql_add_columns">
		<trim suffixOverrides=",">
			<if test="employeeid != null">employeeID,</if>
			<if test="employeename != null">employeeName,</if>
			<if test="cardid != null">cardID,</if>
			<if test="workday != null">workDay,</if>
			<if test="workcatagray != null">workCatagray,</if>
			<if test="po != null">po,</if>
			<if test="personstatus != null">personStatus,</if>
			<if test="actualtimes != null">actualTimes,</if>
			<if test="holidaytimes != null">holidayTimes,</if>
			<if test="absenteeismtimes != null">absenteeismTimes,</if>
			<if test="penalizetimes != null">penalizeTimes,</if>
			<if test="overtimes != null">overtimes,</if>
			<if test="extendtimes != null">extendTimes,</if>
			<if test="copcatagray != null">copCatagray,</if>
			<if test="copmodel != null">copModel,</if>
			<if test="monthinshore != null">monthInShore,</if>
		</trim>
	</sql>

	<sql id="sql_add_properties">
		<trim suffixOverrides=",">
				<if test="employeeid != null">#{employeeid},</if>
				<if test="employeename != null">#{employeename},</if>
				<if test="cardid != null">#{cardid},</if>
				<if test="workday != null">#{workday},</if>
				<if test="workcatagray != null">#{workcatagray},</if>
				<if test="po != null">#{po},</if>
				<if test="personstatus != null">#{personstatus},</if>
				<if test="actualtimes != null">#{actualtimes},</if>
				<if test="holidaytimes != null">#{holidaytimes},</if>
				<if test="absenteeismtimes != null">#{absenteeismtimes},</if>
				<if test="penalizetimes != null">#{penalizetimes},</if>
				<if test="overtimes != null">#{overtimes},</if>
				<if test="extendtimes != null">#{extendtimes},</if>
				<if test="copcatagray != null">#{copcatagray},</if>
				<if test="copmodel != null">#{copmodel},</if>
				<if test="monthinshore != null">#{monthinshore},</if>
		</trim>		
	</sql>
	
	<!-- 新增 -->
	<insert id="addWorkTimeDayOmp" parameterType="com.isoftstone.humanresources.domain.workTime.WorkTimeDayOmpModel">
		insert into t_work_time_day_omp(
			<include refid="sql_add_columns"/>
		)values(
			<include refid="sql_add_properties"/>
		)
	</insert>

	<sql id="BASE_COLUMN">
		 employeeID,
		 employeeName,
		 cardID,
		 workDay,
		 workCatagray,
		 po,
		 personStatus,
		 actualTimes,
		 holidayTimes,
		 absenteeismTimes,
		 penalizeTimes,
		 overtimes,
		 extendTimes,
		 copCatagray,
		 copModel,
		 monthInShore,
		 shoreMsg,
		 signMsg,
		 terminalIds,
		 bak,area,pdu,exception1,exception2,monthStr,replenish,replenishMsg,replenishTime
	</sql>

	<insert id="importWorkTimeDay" parameterType="java.util.List">
		insert into
		t_work_time_day_omp
		(
		<include refid="BASE_COLUMN"></include>
		)
		values
		<if test="null != dayTimeList and dayTimeList.size() > 0">
			<foreach collection="dayTimeList" item="item" index="index" separator=",">
				(
					#{item.employeeid},
					#{item.employeename,jdbcType=VARCHAR},
					#{item.cardid,jdbcType=VARCHAR},
					#{item.workday,jdbcType=VARCHAR},
					#{item.workcatagray,jdbcType=VARCHAR},
					#{item.po,jdbcType=VARCHAR},
					#{item.personstatus,jdbcType=VARCHAR},
					#{item.actualtimes,jdbcType=VARCHAR},
					#{item.holidaytimes,jdbcType=VARCHAR},
					#{item.absenteeismtimes,jdbcType=VARCHAR},
					#{item.penalizetimes,jdbcType=VARCHAR},
					#{item.overtimes,jdbcType=VARCHAR},
					#{item.extendtimes,jdbcType=VARCHAR},
					#{item.copcatagray,jdbcType=VARCHAR},
					#{item.copmodel,jdbcType=VARCHAR},
					#{item.monthinshore,jdbcType=VARCHAR},
					#{item.shoreMsg,jdbcType=VARCHAR},
					#{item.signMsg,jdbcType=VARCHAR},
				 	#{item.terminalIds,jdbcType=VARCHAR},
					#{item.bak,jdbcType=VARCHAR},#{item.area,jdbcType=VARCHAR},#{item.pdu,jdbcType=VARCHAR},#{item.exception1,jdbcType=VARCHAR},#{item.exception2,jdbcType=VARCHAR},#{item.monthStr,jdbcType=VARCHAR},#{item.replenish,jdbcType=VARCHAR},#{item.replenishMsg,jdbcType=VARCHAR},#{item.replenishTime,jdbcType=VARCHAR}
				)
			</foreach>
		</if>
	</insert>

	<select id="queryAllWorkTimeDayOmp" resultMap="workTimeDayOmpMapper" >
		select  employeeID,
				 employeeName,
				 cardID,
				 workDay,
				 workCatagray,
				 po,
				 personStatus,
				 actualTimes,
				 holidayTimes,
				 absenteeismTimes,
				 penalizeTimes,
				 overtimes,
				 extendTimes,
				 copCatagray,
				 copModel,
				 monthInShore ,shoreMsg ,signMsg, terminalIds,bak,area,pdu,exception1,exception2,monthStr
		FROM t_work_time_day_omp
		where employeeID is null
		 order by pdu,employeeName,workDay
	</select>


	<select id="queryAllOmpException1" resultMap="workTimeDayOmpMapper" >
		select  employeeID,
				 employeeName,
				 cardID,
				 workDay,
				 workCatagray,
				 po,
				 personStatus,
				 actualTimes,
				 holidayTimes,
				 absenteeismTimes,
				 penalizeTimes,
				 overtimes,
				 extendTimes,
				 copCatagray,
				 copModel,
				 monthInShore ,shoreMsg ,signMsg, terminalIds,bak,area,pdu,exception1,exception2,monthStr
		FROM t_work_time_day_omp
		where  exception1 = '1'  and employeeID is null
		 order by pdu,employeeName,workDay
	</select>

	<select id="queryAllOmpException2" resultMap="workTimeDayOmpMapper" >
		select omp.employeeName, omp.workDay, omp.po,omp.pdu ,
		omp.personStatus,      omp.actualTimes, omp.signMsg, omp.terminalIds,omp.bak,omp.area ,omp.monthStr , omp.workCatagray
		FROM t_work_time_day_omp omp,
		(select monthStr ,employeeName,cardID  ,sum(actualTimes)/count(*) as averageValue
		from  t_work_time_day_omp
		where (workDay like '2020-%-0%' or workDay like '2020-%-0%') and <![CDATA[ actualTimes >0 ]]> and overtimes = 0
		group by monthStr ,employeeName,cardID ) average
		where omp.employeeName =average.employeeName and omp.monthStr = average.monthStr and <![CDATA[ average.averageValue < 7.5 ]]>
		and workDay like '2020-%-2%'  and omp.employeeID is null  and actualTimes != 0 and <![CDATA[ actualTimes > 10 ]]>
		order by area,pdu,employeeName,workDay
	</select>

	<!-- 编辑 -->
	<update id="updateWorkTimeDayOmp" parameterType="com.isoftstone.humanresources.domain.workTime.WorkTimeDayOmpModel">
		update t_work_time_day_omp record 
			<set>
					<if test = "employeeid != null ">
						record.employeeID = #{employeeid},
					</if>
					<if test = "employeename != null ">
						record.employeeName = #{employeename},
					</if>
					<if test = "cardid != null ">
						record.cardID = #{cardid},
					</if>
					<if test = "workday != null ">
						record.workDay = #{workday},
					</if>
					<if test = "workcatagray != null ">
						record.workCatagray = #{workcatagray},
					</if>
					<if test = "po != null ">
						record.po = #{po},
					</if>
					<if test = "personstatus != null ">
						record.personStatus = #{personstatus},
					</if>
					<if test = "actualtimes != null ">
						record.actualTimes = #{actualtimes},
					</if>
					<if test = "holidaytimes != null ">
						record.holidayTimes = #{holidaytimes},
					</if>
					<if test = "absenteeismtimes != null ">
						record.absenteeismTimes = #{absenteeismtimes},
					</if>
					<if test = "penalizetimes != null ">
						record.penalizeTimes = #{penalizetimes},
					</if>
					<if test = "overtimes != null ">
						record.overtimes = #{overtimes},
					</if>
					<if test = "extendtimes != null ">
						record.extendTimes = #{extendtimes},
					</if>
					<if test = "copcatagray != null ">
						record.copCatagray = #{copcatagray},
					</if>
					<if test = "copmodel != null ">
						record.copModel = #{copmodel},
					</if>
					<if test = "monthinshore != null ">
						record.monthInShore = #{monthinshore}
					</if>
			</set>
		where employeeID = #{employeeID}
	</update>
	
	<!-- 删除 -->
	<delete id="removeWorkTimeDayOmpByIds" parameterType="java.util.List">
		delete from t_work_time_day_omp 
			where employeeID in
			<foreach collection="list" open="(" separator="," close=")" item="code">
				#{code}
			</foreach>
	</delete>

	<delete id="removeWorkTimeDayOmpById">
		delete from t_work_time_day_omp 
		<if test=" id != null and id != ''">
			where employeeID = #{id}
		</if>
	</delete>
	
</mapper>
