<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.isoftstone.humanresources.dao.WorkTimeDao">

	<sql id="BASE_COLUMN">
		employeeID,workStatus,personalStatus,dayCount,month,shouldDays,actualDays,shouldTimes,
		actualTimes,holidayTimes,lateTimes,leaveEarlyTimes,absenteeismTimes,oweTimes,overtimeNum,
		overtimes,extendTimes,notBringPcTimes,bringPcTimes,inDay,outDay,annualLeave,restTimes,
		marriageLeave,maternityLeave,prenatalLeave,paternityLeave,breastFeeding,sickLeave,
		funeralLeave,personalLeave,overtimeRestTimes,outsideTimes,ehs,insufficientReasons,noWorkReasons,
		monthInsufficientReasons,bd
	</sql>

	<sql id="WORK_TIME_DAY">
		employeeID,workStatus,personalStatus,dayCount,workDay,dayCatagray,firstRecordTime,lastRecordTime,actualTimes,holidayTimes,outWorkTimes,absenteeismTimes,
		workBadTimes,penalizeTimes,overtimes,extendTimes,annualLeave,restTimes,marriageLeave,maternityLeave,paternityLeave,breastFeeding,sickLeave,funeralLeave,
		personalLeave,overtimeRestTimes,outsideTimes,copCatagray,copModel,monthInShore,dayBringPcOutShore,lateTimes
	</sql>
	<insert id="importWorkTimeMonth" parameterType="java.util.List">
		insert into
		t_employee_work_time_month
		(
		<include refid="BASE_COLUMN"></include>
		)
		values
		<if test="null != monthTimeList and monthTimeList.size() > 0">
			<foreach collection="monthTimeList" item="item" index="index"
				separator=",">
				(
				#{item.employeeID},
				#{item.workStatus},
				#{item.personalStatus},
				#{item.dayCount},
				#{item.month},
				#{item.shouldDays},
				#{item.actualDays},
				#{item.shouldTimes},
				#{item.actualTimes},
				#{item.holidayTimes},
				#{item.lateTimes},
				#{item.leaveEarlyTimes},
				#{item.absenteeismTimes},
				ABS(#{item.oweTimes}),
				#{item.overtimeNum},
				#{item.overtimes},
				#{item.extendTimes},
				#{item.notBringPcTimes},
				#{item.bringPcTimes},
				#{item.inDay},
				#{item.outDay},
				#{item.annualLeave},
				#{item.restTimes},
				#{item.marriageLeave},
				#{item.maternityLeave},
				#{item.prenatalLeave},
				#{item.paternityLeave},
				#{item.breastFeeding},
				#{item.sickLeave},
				#{item.funeralLeave},
				#{item.personalLeave},
				#{item.overtimeRestTimes},
				#{item.outsideTimes},
				#{item.ehs},
				#{item.insufficientReasons},
				#{item.noWorkReasons},
				#{item.monthInsufficientReasons},
				#{item.bd}
				)
			</foreach>
		</if>
	</insert>
	<select id="getEmployeeIds" resultType="int">
		select
		employeeID
		from
		t_employee
	</select>
	<insert id="importWorkTimeDay" parameterType="java.util.List">
		INSERT INTO
		T_EMPLOYEE_WORK_TIME_DAY
		(
		<include refid="WORK_TIME_DAY"></include>
		)
		values
		<if test="null != dayTimeList and dayTimeList.size() > 0">
			<foreach collection="dayTimeList" item="item" index="index"
				separator=",">
				(
				#{item.employeeID},
				#{item.workStatus},
				#{item.personalStatus},
				#{item.dayCount},
				#{item.workDay},
				#{item.dayCatagray},
				#{item.firstRecordTime},
				#{item.lastRecordTime},
				#{item.actualTimes},
				#{item.holidayTimes},
				#{item.outWorkTimes},
				#{item.absenteeismTimes},
				#{item.workBadTimes},
				#{item.penalizeTimes},
				#{item.overtimes},
				#{item.extendTimes},
				#{item.annualLeave},
				#{item.restTimes},
				#{item.marriageLeave},
				#{item.maternityLeave},
				#{item.paternityLeave},
				#{item.breastFeeding},
				#{item.sickLeave},
				#{item.funeralLeave},
				#{item.personalLeave},
				#{item.overtimeRestTimes},
				#{item.outsideTimes},
				#{item.copCatagray},
				#{item.copModel},
				#{item.monthInShore},
				#{item.dayBringPcOutShore},
				#{item.lateTimes}

				)
			</foreach>
		</if>
	</insert>
</mapper>