<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.isoftstone.humanresources.dao.ZanDao">
	<!-- 返回值映射map -->
	<resultMap id="zanMapper" type="com.isoftstone.humanresources.domain.gather.ZanModel">
			<result property="id" column="id" />
			<result property="type" column="type" />
			<result property="zanid" column="zanID" />
			<result property="zantype" column="zanType" />
			<result property="employeeid" column="employeeID" />
			<result property="status" column="status" />
			<result property="createtime" column="createtime" />
			<result property="bak" column="bak" />
	</resultMap>
	
	<!-- 查询数量公共sql -->
	<sql id="count_Tail">
		select count(1) from t_zan record
	</sql>
	
	<!-- 分页公共sql -->
	<sql id="pagination_tail">
	  limit #{page.pageOffset} , #{page.pageSize}
	</sql>

	<!-- 查询字段公共sql -->
	<sql id="selectAllColumns">
	    SELECT 
	    <if test="queryFields != null ">
	 	     <trim prefix="" suffix="" suffixOverrides=",">
		        <foreach collection="queryFields" item="fi" index="index">
		          ${fi},
		        </foreach>
		      </trim> 	
	  	</if>
	    <if test="queryFields == null ">
	  		<![CDATA[
				 id, 
				 type, 
				 zanID,
				 zanType,
				 employeeID, 
				 status, 
				 createtime, 
				 bak 
			]]>
	  	</if>
	     FROM t_zan record
	</sql>
	
	<sql id="where_fragement">
		<where> 
			<if test="entity!=null">
					<if test = "entity.id != null and entity.id != ''">
						<![CDATA[ and record.id  = #{entity.id} ]]>
					</if>
					<if test = "entity.type != null and entity.type != ''">
						<![CDATA[ and record.type  = #{entity.type} ]]>
					</if>
					<if test = "entity.zanid != null and entity.zanid != ''">
						<![CDATA[ and record.zanID  = #{entity.zanid} ]]>
					</if>
					<if test = "entity.employeeid != null and entity.employeeid != ''">
						<![CDATA[ and record.employeeID  = #{entity.employeeid} ]]>
					</if>
					<if test = "entity.status != null and entity.status != ''">
						<![CDATA[ and record.status  = #{entity.status} ]]>
					</if>
					<if test = "entity.createtime != null and entity.createtime != ''">
						<![CDATA[ and record.createtime  = #{entity.createtime} ]]>
					</if>
					<if test = "entity.bak != null and entity.bak != ''">
						<![CDATA[ and record.bak  = #{entity.bak} ]]>
					</if>
			</if>
		</where>
	</sql>
	
	<sql id="time_sort">
		order by id desc
	</sql>

	<!-- 分页查询数据集合-->
	<select id="queryPageZan" resultMap="zanMapper" >
		<include refid="selectAllColumns"/>
		<include refid="where_fragement" />
		<include refid="time_sort" />
		<if test="page!=null">
			<include refid="pagination_tail" />
		</if>
		
	</select>
	
	<!-- 不分页查询数据集合-->
	<select id="queryListZan" resultMap="zanMapper" >
		<include refid="selectAllColumns"/>
		<include refid="where_fragement" />
		<include refid="time_sort" />
	</select>
	
	<!-- 查询总数量 -->
	<select id="queryCountZan" resultType="long">
		<include refid="count_Tail"></include>
		<include refid="where_fragement"></include>
	</select>

	<!-- 查询单个实体 -->
	<select id="queryZanById" resultMap="zanMapper" >
		<include refid="selectAllColumns"/>
		 where 
		 record.id = #{id}
	</select>
	
	<!-- 新增列处理 -->
	<sql id="sql_add_columns">
		<trim suffixOverrides=",">
			<if test="id != null">id,</if>
			<if test="type != null">type,</if>
			<if test="zanid != null">zanID,</if>
			<if test="zantype != null">zanType,</if>
			<if test="employeeid != null">employeeID,</if>
			<if test="status != null">status,</if>
			<if test="createtime != null">createtime,</if>
			<if test="bak != null">bak,</if>
		</trim>
	</sql>

	<sql id="sql_add_properties">
		<trim suffixOverrides=",">
				<if test="id != null">#{id},</if>
				<if test="type != null">#{type},</if>
				<if test="zanid != null">#{zanid},</if>
			 	<if test="zantype != null">#{zantype},</if>
				<if test="employeeid != null">#{employeeid},</if>
				<if test="status != null">#{status},</if>
				<if test="createtime != null">#{createtime},</if>
				<if test="bak != null">#{bak},</if>
		</trim>		
	</sql>
	
	<!-- 新增 -->
	<insert id="addZan" parameterType="com.isoftstone.humanresources.domain.gather.ZanModel">
		insert into t_zan(
			<include refid="sql_add_columns"/>
		)values(
			<include refid="sql_add_properties"/>
		)
	</insert>

	<!-- 编辑 -->
	<update id="updateZan" parameterType="com.isoftstone.humanresources.domain.gather.ZanModel">
		update t_zan record 
			<set>
					<if test = "type != null ">
						record.type = #{type},
					</if>
					<if test = "zanid != null ">
						record.zanID = #{zanid},
					</if>
					<if test = "employeeid != null ">
						record.employeeID = #{employeeid},
					</if>
					<if test = "status != null ">
						record.status = #{status},
					</if>
					<if test = "createtime != null ">
						record.createtime = #{createtime},
					</if>
					<if test = "bak != null ">
						record.bak = #{bak}
					</if>
			</set>
		where id = #{id}
	</update>
	
	<!-- 删除 -->
	<delete id="removeZanByIds" parameterType="java.util.List">
		delete from t_zan 
			where id in
			<foreach collection="list" open="(" separator="," close=")" item="code">
				#{code}
			</foreach>
	</delete>

	<delete id="removeZanById">
		delete from t_zan 
		<if test=" id != null ">
			where id = #{id}
		</if>
	</delete>

	<select id="queryBycomposeID" resultMap="zanMapper" >
		select id,
			type,
			zanID,
			zanType,
			employeeID,
			status,
			createtime,
			bak
		from t_zan
		where 1=1
		<if test=" zanID != null ">
			and  zanID = #{zanID}
		</if>
		<if test=" zanType != null ">
			and  zanType = #{zanType}
		</if>
	</select>

	<select id="queryBycomposeIDSize" resultMap="zanMapper" >
		select id,
		type,
		zanID,
		zanType,
		employeeID,
		status,
		createtime,
		bak
		from t_zan
		where 1=1
		<if test=" zanID != null ">
			and  zanID = #{zanID}
		</if>
		<if test=" zanType != null ">
			and  zanType = #{zanType}
		</if>
	</select>
	
</mapper>
