<component name="ArtifactManager">
  <artifact type="war" name="springmvc_03_thymeleaf:war">
    <output-path>$PROJECT_DIR$/springmvc_03_thymeleaf/target</output-path>
    <root id="archive" name="springmvc_03_thymeleaf.war">
      <element id="artifact" artifact-name="springmvc_03_thymeleaf:war exploded" />
    </root>
  </artifact>
</component>