<component name="ArtifactManager">
  <artifact type="war" name="springmvc_05_layui:war">
    <output-path>$PROJECT_DIR$/springmvc_05_layui/target</output-path>
    <root id="archive" name="springmvc_05_layui.war">
      <element id="artifact" artifact-name="springmvc_05_layui:war exploded" />
    </root>
  </artifact>
</component>