<component name="ArtifactManager">
  <artifact type="war" name="springmvc_04_ssm:war">
    <output-path>$PROJECT_DIR$/springmvc_04_ssm/target</output-path>
    <root id="archive" name="springmvc_04_ssm.war">
      <element id="artifact" artifact-name="springmvc_04_ssm:war exploded" />
    </root>
  </artifact>
</component>